-
    translations = {
        "home": "الصفحة الرئيسية",
        "download": "تحميل",
        "source": "المصدر",
        "donate": "التبرع",
        "about": "عن",
        "about-text": "عميل غير رسمي للهواتف لـ<a>SimplyTranslate</a>. ",
        "screenshots": "لقطات الشاشة",
        "translation": "الترجمة",
        "translation-text.1": "انسخ <a>ملف الترجمة الإنجليزي</a>.",
        "translation-text.2": "ترجمه إلى لغتك",
        "translation-text.3": "أضِفه إلى هذا <a1>المجلد</a1> باسم: main_<a2>$langCode</a2>.arb",
        "translation-text.4": "إما مراسلتي: <mailto>manerakai@protonmail.com</mailto>، أو طلب سحب (pull request)",
        "we-appreciate-it": "تِسلَم دِيّاتك",
        "want-to-donate": "تريد أن تتبرع؟",
        "we-really-appreciate-it": "الله يعطيك العافية",
        "testers": "المختبرون",
        "translators": "المترجمون",
        "chinese-hong-kong": "الصينية، هونغ كونغ",
        "norwegian-bokmal": "النرويجية بوكمال",
        "portuguese-brazil": "البرتغالية (البرازيل)",
        "icon": "الأيقونة",
        "icon-text": "هي للمشروع الأصلي SimplyTranslate. المصمم هو <a>joelchrono12</a>.",
        "license": "الرخصة",
        "license-text.1": "حقوق الطبع والنشر (C) <a>ManeraKai</a> 2021",
        "license-text.2": "هذا البرنامج هو برنامج حُر: تستطيع أن تُعيد نشره و/أو تُعدل عليه تحت شروط رخصة الـGNU General Public License كما هي منشورة بواسطة مؤسسة الـFree Software Foundation، إما الإصدار الـ3 من الرخصة، أو (على راحتك) أي إصدار أحدث.",
        "license-text.3": "هذا البرنامج قَد نُشِرَ على آمال أن يكون مفيداً، ولكن بدون أي ضمان؛ بدون أي ضمان عن قابليته للتسويق أو عن ملائمته لغرض معين. اطَّلِع على رخصة الـGNU General Public License لتفاصيل أكثر.",
        "license-text.4": "يجب أن تكون قد وصلتك نسخة من رخصة الـ<a>رخصة الـGNU General Public License</a> مع هذا البرنامج.",
        "autodetect": "تلقائي",
        "afrikaans": "الأفريقانية",
        "albanian": "الألبانية",
        "amharic": "الأمهرية",
        "arabic": "العربية",
        "armenian": "الأرمنية",
        "azerbaijani": "الأذرية",
        "basque": "الباسكية",
        "belarusian": "البيلاروسية",
        "bengali": "البنغالية",
        "bosnian": "البوسنية",
        "bulgarian": "البلغارية",
        "catalan": "القطلونية",
        "cebuano": "السيبيوانية",
        "chichewa": "تشيتشوا",
        "chinese": "الصينية",
        "corsican": "الكورسيكي",
        "croatian": "الكرواتية",
        "czech": "التشيكية",
        "danish": "الدانماركية",
        "dutch": "الهولندية",
        "english": "الإنجليزية",
        "esperanto": "الاسبرانتو",
        "estonian": "الإستونية",
        "filipino": "الفلبينية",
        "finnish": "الفنلندية",
        "french": "الفرنسية",
        "frisian": "الفريزية",
        "galician": "الجاليكية",
        "georgian": "الجورجية",
        "german": "الألمانية",
        "greek": "اليونانية",
        "gujarati": "الغوجراتية",
        "haitian_creole": "الكريولية الهاتية",
        "hausa": "الهوسا",
        "hawaiian": "هاواي",
        "hebrew": "العبرية",
        "hindi": "الهندية",
        "hmong": "الهمونجية",
        "hungarian": "الهنغارية",
        "icelandic": "الآيسلندية",
        "igbo": "الإيغبو",
        "indonesian": "الإندونيسية",
        "irish": "الأيرلندية",
        "italian": "الإيطالية",
        "japanese": "ياباني",
        "javanese": "الجاوية",
        "kannada": "الكانادا",
        "kazakh": "الكازاخي",
        "khmer": "الخميرية",
        "kinyarwanda": "الكينيارواندية",
        "korean": "الكورية",
        "kurdish_kurmanji": "الكردية",
        "kyrgyz": "القيرغيزية",
        "lao": "اللاو",
        "latin": "اللاتينية",
        "latvian": "اللاتفية",
        "lithuanian": "الليتوانية",
        "luxembourgish": "اللوكسمبورغية",
        "macedonian": "المقدونية",
        "malagasy": "المدغشقرية",
        "malay": "الملايو",
        "malayalam": "المالايالامية",
        "maltese": "المالطية",
        "maori": "الماوري",
        "marathi": "المراثية",
        "mongolian": "المنغولية",
        "myanmar_burmese": "البورمية",
        "nepali": "النيبالية",
        "norwegian": "النرويجية",
        "odia_oriya": "الأوديا (الأوريا)",
        "pashto": "الباشتوية",
        "persian": "الفارسية",
        "polish": "البولندية",
        "portuguese": "البرتغالية",
        "punjabi": "البنجابية",
        "romanian": "الرومانية",
        "russian": "الروسية",
        "samoan": "الساموانية",
        "scots_gaelic": "الاسكتلندية الغالية",
        "serbian": "الصربية",
        "sesotho": "السيسوتو",
        "shona": "الشونا",
        "sindhi": "السندية",
        "sinhala": "السنهالية",
        "slovak": "السلوفاكية",
        "slovenian": "السلوفينية",
        "somali": "الصومالية",
        "spanish": "الإسبانية",
        "sundanese": "السندية",
        "swahili": "السواحيلية",
        "swedish": "السويدية",
        "tajik": "الطاجيكي",
        "tamil": "التاميلية",
        "tatar": "التتارية",
        "telugu": "التيلوجو",
        "thai": "التايلاندية",
        "turkish": "التركية",
        "turkmen": "التركمانية",
        "ukrainian": "الأوكرانية",
        "urdu": "الأردية",
        "uyghur": "الأويغورية",
        "uzbek": "الأوزبكية",
        "vietnamese": "الفيتنامية",
        "welsh": "الويلزية",
        "xhosa": "الكوسية",
        "yiddish": "الييدية",
        "yoruba": "اليورباية",
        "zulu": "الزولوية"
    }
