-
    translations = {
        "home": "الصفحة الرئيسية",
        "download": "تحميل",
        "source": "المصدر",
        "about-text": "تطبيق عميل لـ<a>SimplyTranslate</a>",
        "screenshots": "لقطات الشاشة",
        "testers": "المختبرون",
        "translators": "المترجمون",
        "chinese-hong-kong": "الصينية، هونغ كونغ",
        "norwegian-bokmal": "النرويجية بوكمال",
        "portuguese-brazil": "البرتغالية (البرازيل)",
        "icon": "الأيقونة",
        "license-text.1": "حقوق الطبع والنشر (C) <a>ManeraKai</a> 2021",
        "license-text.2": "هذا البرنامج هو برنامج حُر: تستطيع أن تُعيد نشره و/أو تُعدل عليه تحت شروط رخصة الـGNU General Public License كما هي منشورة بواسطة مؤسسة الـFree Software Foundation، إما الإصدار الـ3 من الرخصة، أو (على راحتك) أي إصدار أحدث.",
        "license-text.3": "هذا البرنامج قَد نُشِرَ على آمال أن يكون مفيداً، ولكن بدون أي ضمان؛ بدون أي ضمان عن قابليته للتسويق أو عن ملائمته لغرض معين. اطَّلِع على رخصة الـGNU General Public License لتفاصيل أكثر.",
        "license-text.4": "يجب أن تكون قد وصلتك نسخة من رخصة الـ<a>رخصة الـGNU General Public License</a> مع هذا البرنامج.",
        "autodetect": "تلقائي",
        "afrikaans": "الأفريقانية",
        "albanian": "الألبانية",
        "amharic": "الأمهرية",
        "arabic": "العربية",
        "armenian": "الأرمنية",
        "azerbaijani": "الأذرية",
        "basque": "الباسكية",
        "belarusian": "البيلاروسية",
        "bengali": "البنغالية",
        "bosnian": "البوسنية",
        "bulgarian": "البلغارية",
        "catalan": "القطلونية",
        "cebuano": "السيبيوانية",
        "chichewa": "تشيتشوا",
        "chinese": "الصينية",
        "corsican": "الكورسيكي",
        "croatian": "الكرواتية",
        "czech": "التشيكية",
        "danish": "الدانماركية",
        "dutch": "الهولندية",
        "english": "الإنجليزية",
        "esperanto": "الاسبرانتو",
        "estonian": "الإستونية",
        "filipino": "الفلبينية",
        "finnish": "الفنلندية",
        "french": "الفرنسية",
        "frisian": "الفريزية",
        "galician": "الجاليكية",
        "georgian": "الجورجية",
        "german": "الألمانية",
        "greek": "اليونانية",
        "gujarati": "الغوجراتية",
        "haitian_creole": "الكريولية الهاتية",
        "hausa": "الهوسا",
        "hawaiian": "هاواي",
        "hebrew": "العبرية",
        "hindi": "الهندية",
        "hmong": "الهمونجية",
        "hungarian": "الهنغارية",
        "icelandic": "الآيسلندية",
        "igbo": "الإيغبو",
        "indonesian": "الإندونيسية",
        "irish": "الأيرلندية",
        "italian": "الإيطالية",
        "japanese": "ياباني",
        "javanese": "الجاوية",
        "kannada": "الكانادا",
        "kazakh": "الكازاخي",
        "khmer": "الخميرية",
        "kinyarwanda": "الكينيارواندية",
        "korean": "الكورية",
        "kurdish_kurmanji": "الكردية",
        "kyrgyz": "القيرغيزية",
        "lao": "اللاو",
        "latin": "اللاتينية",
        "latvian": "اللاتفية",
        "lithuanian": "الليتوانية",
        "luxembourgish": "اللوكسمبورغية",
        "macedonian": "المقدونية",
        "malagasy": "المدغشقرية",
        "malay": "الملايو",
        "malayalam": "المالايالامية",
        "maltese": "المالطية",
        "maori": "الماوري",
        "marathi": "المراثية",
        "mongolian": "المنغولية",
        "myanmar_burmese": "البورمية",
        "nepali": "النيبالية",
        "norwegian": "النرويجية",
        "odia_oriya": "الأوديا (الأوريا)",
        "pashto": "الباشتوية",
        "persian": "الفارسية",
        "polish": "البولندية",
        "portuguese": "البرتغالية",
        "punjabi": "البنجابية",
        "romanian": "الرومانية",
        "russian": "الروسية",
        "samoan": "الساموانية",
        "scots_gaelic": "الاسكتلندية الغالية",
        "serbian": "الصربية",
        "sesotho": "السيسوتو",
        "shona": "الشونا",
        "sindhi": "السندية",
        "sinhala": "السنهالية",
        "slovak": "السلوفاكية",
        "slovenian": "السلوفينية",
        "somali": "الصومالية",
        "spanish": "الإسبانية",
        "sundanese": "السندية",
        "swahili": "السواحيلية",
        "swedish": "السويدية",
        "tajik": "الطاجيكي",
        "tamil": "التاميلية",
        "tatar": "التتارية",
        "telugu": "التيلوجو",
        "thai": "التايلاندية",
        "turkish": "التركية",
        "turkmen": "التركمانية",
        "ukrainian": "الأوكرانية",
        "urdu": "الأردية",
        "uyghur": "الأويغورية",
        "uzbek": "الأوزبكية",
        "vietnamese": "الفيتنامية",
        "welsh": "الويلزية",
        "xhosa": "الكوسية",
        "yiddish": "الييدية",
        "yoruba": "اليورباية",
        "zulu": "الزولوية",
        "@@locale": "en",
        "copied_to_clipboard": "نُسخ إلى الحافظة",
        "translate": "ترجم",
        "enter_text_here": "أدخل النص هنا",
        "something_went_wrong": "هناك خطأ ما",
        "check_instance": "(السيرفر) تحقق من المثيل.",
        "check_instnace_tts": "تحقق من المثيل (السيرفر) ومن دعمه للـtts (كلام إلى نص).",
        "no_internet": "لا يوجد انترنت",
        "ok": "حسناً",
        "cancel": "إلغاء",
        "empty_clipboard": "الحافظة فارغة",
        "input_limit": "عدد أحرف النص أكثر من 5000",
        "input_calc": "اُجتِيزَ حد الـ5000 حرف بـ$lengthDifference",
        "input_fraction_one": "أُدخل $length حرف من أصل 5000 متاح",
        "input_fraction_few": "أُدخل $length أحرف من أصل 5000 متاحين",
        "input_fraction_many": "أُدخل $length حرف من أصل 5000 متاح",
        "input_fraction_other": "أُدخل $length حرف من أصل 5000 متاح",
        "audio_limit": "لا يمكن جلب الصوت لأكثر من 200 حرف",
        "not_available": "غير متاح",
        "settings": "الإعدادات",
        "instances": "المُثلاء (السيرفرات)",
        "appearance": "المظهر",
        "translation": "الترجمة",
        "translations": "الترجمات",
        "instance": "اختر المثيل (السيرفر)",
        "random": "عشوائي",
        "custom": "مخصص",
        "check": "تحقق",
        "update_list": "تحديث القائمة",
        "update_list_summary": "تحديث قائمة المُثلاء (السيرفرات)",
        "updated_successfully": "تم التحديث بنجاح",
        "error": "هناك خطأ ما",
        "theme": "السمة",
        "light": "فاتح",
        "dark": "داكن",
        "follow_system": "حسب النظام",
        "default_share_language": "لغة المشاركة الإفتراضية",
        "default_share_language_summary": "يحدد لغة الترجمة للنص المُشارك من تطبيق آخر: $toLanguageShareDefault",
        "about": "عن",
        "team": "الفريق",
        "team_summary": "المبرمجون، المترجمون والمختبرون",
        "contribute": "المساهمة",
        "contribute_summary": "ساعد على تحسينه!",
        "version": "الإصدار",
        "license": "الرخصة",
        "help": "المساعدة",
        "donate": "تبرع",
        "liberapay": "ليبرا باي",
        "report_bug": "بلّغ عن خطأ",
        "website": "الموقع",
        "contact": "التواصل",
        "email": "الإيميل",
        "translate_summary": "انشره للعالم!",
        "donate_summary": "الله يعطيك العافية!",
        "report_bug_summary": "رجائاً أبلغنا",
        "text_recognition": "التعرف على النص",
        "download_trained_data_files": "تحميل بيانات الملفات المدربة",
        "language_text_recognition": "التعرف على النص - $language",
        "trained_data_files_not_installed": "الملفات المدربة غير منزلة.",
        "install": "Install",
        "camera_is_not_accessible": "لا يمكن الوصول إلى الكاميرا",
        "autodetect_not_supported": "التلقائي غير مدعوم",
        "please_select_a_specific_language": "استخدم لغة محددة",
        "input": "الإدخال",
        "output": "النتيجة",
        "@copied_to_clipboard": {},
        "@translate": {},
        "@enter_text_here": {},
        "@something_went_wrong": {},
        "@check_instance": {},
        "@check_instnace_tts": {},
        "@no_internet": {},
        "@ok": {},
        "@cancel": {},
        "@empty_clipboard": {},
        "@input_limit": {},
        "@input_calc": {},
        "@input_fraction_one": {},
        "@input_fraction_few": {},
        "@input_fraction_many": {},
        "@input_fraction_other": {},
        "@audio_limit": {},
        "@not_available": {},
        "@settings": {},
        "@instances": {},
        "@appearance": {},
        "@translation": {},
        "@instance": {},
        "@random": {},
        "@custom": {},
        "@check": {},
        "@update_list": {},
        "@update_list_summary": {},
        "@updated_successfully": {},
        "@error": {},
        "@theme": {},
        "@light": {},
        "@dark": {},
        "@follow_system": {},
        "@default_share_language": {},
        "@default_share_language_summary": {},
        "@about": {},
        "@team": {},
        "@team_summary": {},
        "@contribute": {},
        "@contribute_summary": {},
        "@version": {},
        "@license": {},
        "@help": {},
        "@donate": {},
        "@liberapay": {},
        "@report_bug": {},
        "@website": {},
        "@contact": {},
        "@email": {},
        "@translate_summary": {},
        "@donate_summary": {},
        "@report_bug_summary": {},
        "@text_recognition": {},
        "@download_trained_data_files": {},
        "@language_text_recognition": {},
        "@trained_data_files_not_installed": {},
        "@install": {}
    }
