-
    translations = {
        "screenshots": "Bildschirmfotos",
        "translation-text.1": "Kopieren Sie die <a>Englische Übersetzungsdatei</a>.",
        "source": "Quelle",
        "about": "Über",
        "translation": "Übersetzung",
        "translation-text.3": "Fügen Sie Ihre neue übersetzte Datei in <a1>dieses Verzeichnis</a1> mit dem Namen: main_<a2>$langCode</a2>.arb",
        "testers": "Prüfer",
        "license-text.2": "Dieses Programm ist freie Software: Sie können es unter den Bedingungen der GNU General Public License, wie sie von der Free Software Foundation veröffentlicht wurde, weitergeben und/oder modifizieren, entweder gemäß Version 3 der Lizenz oder (nach Ihrer Wahl) jeder späteren Version.",
        "translation-text.4": "Entweder per E-Mail an: <mailto>manerakai@protonmail.com</mailto>, oder ein Pull-Request.",
        "we-appreciate-it": "Dafür sind wir dankbar!",
        "we-really-appreciate-it": "Dafür sind wir sehr dankbar!",
        "portuguese-brazil": "Portugiesisch (Brasilien)",
        "icon": "Symbol",
        "icon-text": "Es ist für das ursprüngliche SimplyTranslate-Projekt. Der Designer ist <a>joelchrono12</a>.",
        "license": "Lizenz",
        "license-text.1": "Copyright © 2021 <a>ManeraKai</a>",
        "about-text": "Ein inoffizieller mobiler Client für <a>SimplyTranslate</a>.",
        "want-to-donate": "Möchten Sie spenden?",
        "translators": "Übersetzer/innen",
        "home": "Startseite",
        "download": "Herunterladen",
        "donate": "Spenden",
        "translation-text.2": "Übersetzen Sie sie in Ihre Sprache.",
        "chinese-hong-kong": "Chinesisch, Hongkong",
        "license-text.3": "Dieses Programm wird in der Hoffnung verteilt, dass es nützlich sein wird, aber OHNE JEGLICHE GEWÄHRLEISTUNG; ohne auch nur die stillschweigende Gewährleistung der MARKTFÄHIGKEIT oder EIGNUNG FÜR EINEN BESTIMMTEN ZWECK. Weitere Einzelheiten finden Sie in der GNU General Public License.",
        "norwegian-bokmal": "Norwegisch Bokmål",
        "license-text.4": "Sie sollten eine Kopie der <a>GNU General Public License</a> zusammen mit diesem Programm erhalten haben.",
        "autodetect": "Automatisch",
        "afrikaans": "Afrikaans",
        "albanian": "Albanisch",
        "amharic": "Amharisch",
        "arabic": "Arabisch",
        "armenian": "Armenisch",
        "azerbaijani": "Asberbaidschanisch",
        "basque": "Baskisch",
        "belarusian": "Belarussisch",
        "bengali": "Bengalisch",
        "bosnian": "Bosnisch",
        "bulgarian": "Bulgarisch",
        "catalan": "Katalanisch",
        "cebuano": "Cebuano",
        "chichewa": "Chichewa",
        "chinese": "Chinesisch (traditionell)",
        "corsican": "Korsisch",
        "croatian": "Kroatisch",
        "czech": "Tschechisch",
        "danish": "Dänisch",
        "dutch": "Niederländisch",
        "english": "Englisch",
        "esperanto": "Esperanto",
        "estonian": "Estnisch",
        "filipino": "Filipino",
        "finnish": "Finnisch",
        "french": "Französisch",
        "frisian": "Friesisch",
        "galician": "Galizisch",
        "georgian": "Georgisch",
        "german": "Deutsch",
        "greek": "Griechisch",
        "gujarati": "Gujarati",
        "haitian_creole": "Haitianisch",
        "hausa": "Hausa",
        "hawaiian": "Hawaiisch",
        "hebrew": "Hebräisch",
        "hindi": "Hindi",
        "hmong": "Hmong",
        "hungarian": "Ungarisch",
        "icelandic": "Isländisch",
        "igbo": "Igbo",
        "indonesian": "Indonesisch",
        "irish": "Irisch",
        "italian": "Italienisch",
        "japanese": "Japanisch",
        "javanese": "Javanisch",
        "kannada": "Kannada",
        "kazakh": "Kasachisch",
        "khmer": "Khmer",
        "kinyarwanda": "Kinyarwanda",
        "korean": "Koreanisch",
        "kurdish_kurmanji": "Kurdisch (Kurmandschi)",
        "kyrgyz": "Kirgisisch",
        "lao": "Lao",
        "latin": "Lateinisch",
        "latvian": "Lettisch",
        "lithuanian": "Litauisch",
        "luxembourgish": "Luxemburgisch",
        "macedonian": "Mazedonisch",
        "malagasy": "Malagasy",
        "malay": "Malaysisch",
        "malayalam": "Malayalam",
        "maltese": "Maltesisch",
        "maori": "Maori",
        "marathi": "Marathi",
        "mongolian": "Mongolisch",
        "myanmar_burmese": "Birmanisch",
        "nepali": "Nepalesisch",
        "norwegian": "Norwegisch",
        "odia_oriya": "Odia (Oriya)",
        "pashto": "Paschtu",
        "persian": "Persisch",
        "polish": "Polnisch",
        "portuguese": "Portugiesisch",
        "punjabi": "Punjabi",
        "romanian": "Rumänisch",
        "russian": "Russisch",
        "samoan": "Somoanisch",
        "scots_gaelic": "Schottisch-Gälisch",
        "serbian": "Serbisch",
        "sesotho": "Sesotho",
        "shona": "Shona",
        "sindhi": "Sindhi",
        "sinhala": "Singhalesisch",
        "slovak": "Slowakenisch",
        "slovenian": "Slowenisch",
        "somali": "Somali",
        "spanish": "Spanisch",
        "sundanese": "Sundanesisch",
        "swahili": "Suaheli",
        "swedish": "Schwedisch",
        "tajik": "Tadschikisch",
        "tamil": "Tamil",
        "tatar": "Tatarisch",
        "telugu": "Telugu",
        "thai": "Thailändisch",
        "turkish": "Türkisch",
        "turkmen": "Turkmenisch",
        "ukrainian": "Ukrainisch",
        "urdu": "Urdu",
        "uyghur": "Uyghur",
        "uzbek": "Usbekisch",
        "vietnamese": "Vietnamesisch",
        "welsh": "Walisisch",
        "xhosa": "Xhosa",
        "yiddish": "Jiddisch",
        "yoruba": "Yoruba",
        "zulu": "Zulu"
    }
