-
    translations = {
        "home": "Startseite",
        "download": "Herunterladen",
        "source": "Quelle",
        "about-text": "Ein inoffizieller mobiler Client für <a>SimplyTranslate</a>.",
        "screenshots": "Bildschirmfotos",
        "testers": "Prüfer",
        "translators": "Übersetzer/innen",
        "chinese-hong-kong": "Chinesisch, Hongkong",
        "norwegian-bokmal": "Norwegisch Bokmål",
        "portuguese-brazil": "Portugiesisch (Brasilien)",
        "icon": "Symbol",
        "license-text.1": "Copyright © 2021 <a>ManeraKai</a>",
        "license-text.2": "Dieses Programm ist freie Software: Sie können es unter den Bedingungen der GNU General Public License, wie sie von der Free Software Foundation veröffentlicht wurde, weitergeben und/oder modifizieren, entweder gemäß Version 3 der Lizenz oder (nach Ihrer Wahl) jeder späteren Version.",
        "license-text.3": "Dieses Programm wird in der Hoffnung verteilt, dass es nützlich sein wird, aber OHNE JEGLICHE GEWÄHRLEISTUNG; ohne auch nur die stillschweigende Gewährleistung der MARKTFÄHIGKEIT oder EIGNUNG FÜR EINEN BESTIMMTEN ZWECK. Weitere Einzelheiten finden Sie in der GNU General Public License.",
        "license-text.4": "Sie sollten eine Kopie der <a>GNU General Public License</a> zusammen mit diesem Programm erhalten haben.",
        "autodetect": "Automatisch",
        "afrikaans": "Afrikaans",
        "albanian": "Albanisch",
        "amharic": "Amharisch",
        "arabic": "Arabisch",
        "armenian": "Armenisch",
        "azerbaijani": "Asberbaidschanisch",
        "basque": "Baskisch",
        "belarusian": "Belarussisch",
        "bengali": "Bengalisch",
        "bosnian": "Bosnisch",
        "bulgarian": "Bulgarisch",
        "catalan": "Katalanisch",
        "cebuano": "Cebuano",
        "chichewa": "Chichewa",
        "chinese": "Chinesisch (traditionell)",
        "corsican": "Korsisch",
        "croatian": "Kroatisch",
        "czech": "Tschechisch",
        "danish": "Dänisch",
        "dutch": "Niederländisch",
        "english": "Englisch",
        "esperanto": "Esperanto",
        "estonian": "Estnisch",
        "filipino": "Filipino",
        "finnish": "Finnisch",
        "french": "Französisch",
        "frisian": "Friesisch",
        "galician": "Galizisch",
        "georgian": "Georgisch",
        "german": "Deutsch",
        "greek": "Griechisch",
        "gujarati": "Gujarati",
        "haitian_creole": "Haitianisch",
        "hausa": "Hausa",
        "hawaiian": "Hawaiisch",
        "hebrew": "Hebräisch",
        "hindi": "Hindi",
        "hmong": "Hmong",
        "hungarian": "Ungarisch",
        "icelandic": "Isländisch",
        "igbo": "Igbo",
        "indonesian": "Indonesisch",
        "irish": "Irisch",
        "italian": "Italienisch",
        "japanese": "Japanisch",
        "javanese": "Javanisch",
        "kannada": "Kannada",
        "kazakh": "Kasachisch",
        "khmer": "Khmer",
        "kinyarwanda": "Kinyarwanda",
        "korean": "Koreanisch",
        "kurdish_kurmanji": "Kurdisch (Kurmandschi)",
        "kyrgyz": "Kirgisisch",
        "lao": "Lao",
        "latin": "Lateinisch",
        "latvian": "Lettisch",
        "lithuanian": "Litauisch",
        "luxembourgish": "Luxemburgisch",
        "macedonian": "Mazedonisch",
        "malagasy": "Malagasy",
        "malay": "Malaysisch",
        "malayalam": "Malayalam",
        "maltese": "Maltesisch",
        "maori": "Maori",
        "marathi": "Marathi",
        "mongolian": "Mongolisch",
        "myanmar_burmese": "Birmanisch",
        "nepali": "Nepalesisch",
        "norwegian": "Norwegisch",
        "odia_oriya": "Odia (Oriya)",
        "pashto": "Paschtu",
        "persian": "Persisch",
        "polish": "Polnisch",
        "portuguese": "Portugiesisch",
        "punjabi": "Punjabi",
        "romanian": "Rumänisch",
        "russian": "Russisch",
        "samoan": "Somoanisch",
        "scots_gaelic": "Schottisch-Gälisch",
        "serbian": "Serbisch",
        "sesotho": "Sesotho",
        "shona": "Shona",
        "sindhi": "Sindhi",
        "sinhala": "Singhalesisch",
        "slovak": "Slowakenisch",
        "slovenian": "Slowenisch",
        "somali": "Somali",
        "spanish": "Spanisch",
        "sundanese": "Sundanesisch",
        "swahili": "Suaheli",
        "swedish": "Schwedisch",
        "tajik": "Tadschikisch",
        "tamil": "Tamil",
        "tatar": "Tatarisch",
        "telugu": "Telugu",
        "thai": "Thailändisch",
        "turkish": "Türkisch",
        "turkmen": "Turkmenisch",
        "ukrainian": "Ukrainisch",
        "urdu": "Urdu",
        "uyghur": "Uyghur",
        "uzbek": "Usbekisch",
        "vietnamese": "Vietnamesisch",
        "welsh": "Walisisch",
        "xhosa": "Xhosa",
        "yiddish": "Jiddisch",
        "yoruba": "Yoruba",
        "zulu": "Zulu",
        "copied_to_clipboard": "In die Zwischenablage kopiert",
        "@copied_to_clipboard": {},
        "translate": "Übersetze",
        "@translate": {},
        "enter_text_here": "Text hier eingeben",
        "@enter_text_here": {},
        "something_went_wrong": "Etwas ist schiefgegangen",
        "@something_went_wrong": {},
        "check_instance": "Überprüfe Instanz.",
        "@check_instance": {},
        "check_instnace_tts": "Überprüfe Instanz und ihre Text-zu-Sprache-Unterstützung.",
        "@check_instnace_tts": {},
        "no_internet": "Keine Internetverbindung",
        "@no_internet": {},
        "ok": "OK",
        "@ok": {},
        "cancel": "Abbrechen",
        "@cancel": {},
        "empty_clipboard": "Zwischenablage ist leer",
        "@empty_clipboard": {},
        "input_limit": "Die Übersetzungseingabe ist länger als 5000 Zeichen",
        "@input_limit": {},
        "input_calc": "5000 Zeichenlimit um $lengthDifference Zeichen überschritten",
        "@input_calc": {},
        "input_fraction_one": "$length Zeichen 5000 möglichen eingegeben",
        "@input_fraction_one": {},
        "input_fraction_few": "$length Zeichen 5000 möglichen eingegeben",
        "@input_fraction_few": {},
        "input_fraction_many": "$length Zeichen 5000 möglichen eingegeben",
        "@input_fraction_many": {},
        "input_fraction_other": "$length Zeichen 5000 möglichen eingegeben",
        "@input_fraction_other": {},
        "audio_limit": "Kann kein Audio führ mehr als 200 Zeichen laden",
        "@audio_limit": {},
        "not_available": "Service ist nicht verfügbar",
        "@not_available": {},
        "settings": "Einstellungen",
        "@settings": {},
        "instances": "Instanzen",
        "@instances": {},
        "appearance": "Aussehen",
        "@appearance": {},
        "translation": "Übersetzung",
        "@translation": {},
        "instance": "Instanz",
        "@instance": {},
        "random": "Zufällig",
        "@random": {},
        "custom": "Eigene",
        "@custom": {},
        "check": "Überprüfen",
        "@check": {},
        "update_list": "Liste aktualisieren",
        "@update_list": {},
        "update_list_summary": "Aktualisiert die offiziele Instanzliste",
        "@update_list_summary": {},
        "updated_successfully": "Erfolgreich aktualisiert",
        "@updated_successfully": {},
        "error": "Es gab einen Fehler",
        "@error": {},
        "theme": "Thema",
        "@theme": {},
        "light": "Hell",
        "@light": {},
        "dark": "Dunkel",
        "@dark": {},
        "follow_system": "System",
        "@follow_system": {},
        "default_share_language": "Standardsprache für Freigaben",
        "@default_share_language": {},
        "default_share_language_summary": "Bestimmt die Übersetzungssprache für freigegebenen Text aus einer anderen Anwendung: $toLanguageShareDefault",
        "@default_share_language_summary": {},
        "about": "Über",
        "@about": {},
        "team": "Team",
        "@team": {},
        "team_summary": "Programmierer, Übersetzer und Tester",
        "@team_summary": {},
        "contribute": "Mithelfen",
        "@contribute": {},
        "contribute_summary": "Hilf uns es besser zu machen!",
        "@contribute_summary": {},
        "version": "Version",
        "@version": {},
        "license": "Lizenz",
        "@license": {},
        "help": "Hilfe",
        "@help": {},
        "donate": "Spenden",
        "@donate": {},
        "liberapay": "Liberapay",
        "@liberapay": {},
        "report_bug": "Fehler melden",
        "@report_bug": {},
        "website": "Website",
        "@website": {},
        "contact": "Kontakt",
        "@contact": {},
        "email": "E-Mail",
        "@email": {},
        "translate_summary": "Verbreite es in der Welt!",
        "@translate_summary": {},
        "donate_summary": "Dafür sind wir dankbar!",
        "@donate_summary": {},
        "report_bug_summary": "Bitte informiere uns",
        "@report_bug_summary": {},
        "text_recognition": "Texterkennung",
        "@text_recognition": {},
        "download_trained_data_files": "Trainierte Datendateien herunterladen",
        "@download_trained_data_files": {},
        "language_text_recognition": "Texterkennung – $language",
        "@language_text_recognition": {},
        "trained_data_files_not_installed": "Die trainierten Datendateien sind nicht installiert.",
        "@trained_data_files_not_installed": {},
        "install": "Install",
        "@install": {},
        "camera_is_not_accessible": "Kamera ist nicht zugänglich",
        "@camera_is_not_accessible": {}
    }
