-
    translations = {
        "home": "Ĉefpaĝo",
        "download": "Elŝuti",
        "source": "Fonto",
        "about-text": "Poŝaparata kliento por <a>SimplyTranslate</a>.",
        "screenshots": "Ekrankopioj",
        "testers": "Elprovantoj",
        "translators": "Tradukantoj",
        "chinese-hong-kong": "Ĉina Honkonga",
        "norwegian-bokmal": "Dannorvega",
        "portuguese-brazil": "Brazilportugala",
        "icon": "Piktogramo",
        "license-text.1": "Kopirajtoj © 2021 <a>ManeraKai</a>",
        "license-text.2": "This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.",
        "license-text.3": "This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.",
        "license-text.4": "You should have received a copy of the <a>GNU General Public License</a> along with this program.",
        "autodetect": "Autodetect",
        "afrikaans": "Afrikaans",
        "albanian": "Albanian",
        "amharic": "Amharic",
        "arabic": "Arabic",
        "armenian": "Armenian",
        "azerbaijani": "Azerbaijani",
        "basque": "Basque",
        "belarusian": "Belarusian",
        "bengali": "Bengali",
        "bosnian": "Bosnian",
        "bulgarian": "Bulgarian",
        "catalan": "Catalan",
        "cebuano": "Cebuano",
        "chichewa": "Chichewa",
        "chinese": "Chinese",
        "corsican": "Corsican",
        "croatian": "Croatian",
        "czech": "Czech",
        "danish": "Danish",
        "dutch": "Dutch",
        "english": "English",
        "esperanto": "Esperanto",
        "estonian": "Estonian",
        "filipino": "Filipino",
        "finnish": "Finnish",
        "french": "French",
        "frisian": "Frisian",
        "galician": "Galician",
        "georgian": "Georgian",
        "german": "German",
        "greek": "Greek",
        "gujarati": "Gujarati",
        "haitian_creole": "Haitian Creole",
        "hausa": "Hausa",
        "hawaiian": "Hawaiian",
        "hebrew": "Hebrew",
        "hindi": "Hindi",
        "hmong": "Hmong",
        "hungarian": "Hungarian",
        "icelandic": "Icelandic",
        "igbo": "Igbo",
        "indonesian": "Indonesian",
        "irish": "Irish",
        "italian": "Italian",
        "japanese": "Japanese",
        "javanese": "Javanese",
        "kannada": "Kannada",
        "kazakh": "Kazakh",
        "khmer": "Khmer",
        "kinyarwanda": "Kinyarwanda",
        "korean": "Korean",
        "kurdish_kurmanji": "Kurdish (Kurmanji)",
        "kyrgyz": "Kyrgyz",
        "lao": "Lao",
        "latin": "Latin",
        "latvian": "Latvian",
        "lithuanian": "Lithuanian",
        "luxembourgish": "Luxembourgish",
        "macedonian": "Macedonian",
        "malagasy": "Malagasy",
        "malay": "Malay",
        "malayalam": "Malayalam",
        "maltese": "Maltese",
        "maori": "Maori",
        "marathi": "Marathi",
        "mongolian": "Mongolian",
        "myanmar_burmese": "Myanmar (Burmese)",
        "nepali": "Nepali",
        "norwegian": "Norwegian",
        "odia_oriya": "Odia (Oriya)",
        "pashto": "Pashto",
        "persian": "Persian",
        "polish": "Polish",
        "portuguese": "Portuguese",
        "punjabi": "Punjabi",
        "romanian": "Romanian",
        "russian": "Russian",
        "samoan": "Samoan",
        "scots_gaelic": "Scots Gaelic",
        "serbian": "Serbian",
        "sesotho": "Sesotho",
        "shona": "Shona",
        "sindhi": "Sindhi",
        "sinhala": "Sinhala",
        "slovak": "Slovak",
        "slovenian": "Slovenian",
        "somali": "Somali",
        "spanish": "Spanish",
        "sundanese": "Sundanese",
        "swahili": "Swahili",
        "swedish": "Swedish",
        "tajik": "Tajik",
        "tamil": "Tamil",
        "tatar": "Tatar",
        "telugu": "Telugu",
        "thai": "Thai",
        "turkish": "Turkish",
        "turkmen": "Turkmen",
        "ukrainian": "Ukrainian",
        "urdu": "Urdu",
        "uyghur": "Uyghur",
        "uzbek": "Uzbek",
        "vietnamese": "Vietnamese",
        "welsh": "Welsh",
        "xhosa": "Xhosa",
        "yiddish": "Yiddish",
        "yoruba": "Yoruba",
        "zulu": "Zulu",
        "@@locale": "en",
        "copied_to_clipboard": "Kopiita al tondujo",
        "translate": "Traduki",
        "enter_text_here": "Tajpu tekston ĉi tie",
        "something_went_wrong": "Io fiaskis",
        "check_instance": "Check instance.",
        "check_instnace_tts": "Check instance and its TTS (Text-to-Speech) support.",
        "no_internet": "Sen Interreta konekto",
        "ok": "Bone",
        "cancel": "Nuligi",
        "empty_clipboard": "Tondujo estas malplena",
        "input_limit": "The translation input is above 5000",
        "input_calc": "Exceeded 5000 character limit by $lengthDifference",
        "input_fraction_one": "Entered $length character out of 5000 possible",
        "input_fraction_few": "Entered $length characters out of 5000 possible",
        "input_fraction_many": "Entered $length characters out of 5000 possible",
        "input_fraction_other": "Entered $length characters out of 5000 possible",
        "audio_limit": "Cannot get audio for more than 200 characters",
        "not_available": "Service is not available",
        "settings": "Agordoj",
        "instances": "Instances",
        "appearance": "Aspekto",
        "translation": "Tradukado",
        "translations": "Translations",
        "instance": "Instance",
        "random": "Random",
        "custom": "Custom",
        "check": "Check",
        "update_list": "Update list",
        "update_list_summary": "Updates the official list of instances",
        "updated_successfully": "Updated successfully",
        "error": "There was an error",
        "theme": "Etoso",
        "light": "Hela",
        "dark": "Malhela",
        "follow_system": "Laŭ sistemo",
        "default_share_language": "Default share language",
        "default_share_language_summary": "Determines the translation language for shared text from another app: $toLanguageShareDefault",
        "about": "Pri",
        "team": "Teamo",
        "team_summary": "Coders, translators and testers",
        "contribute": "Kontribui",
        "contribute_summary": "Helpu plibonigi ĝin!",
        "version": "Versio",
        "license": "Permesilo",
        "help": "Helpo",
        "donate": "Donaci",
        "liberapay": "Liberapay",
        "report_bug": "Raporti cimon",
        "website": "Retejo",
        "contact": "Kontakto",
        "email": "Retpoŝto",
        "translate_summary": "Spread it to the world!",
        "donate_summary": "We appreciate it!",
        "report_bug_summary": "Please let us know",
        "text_recognition": "Tekstorekono",
        "download_trained_data_files": "Download trained data files",
        "language_text_recognition": "Tekstorekono – $language",
        "trained_data_files_not_installed": "Trained data files are not installed.",
        "install": "Instali",
        "camera_is_not_accessible": "Camera is not accessible",
        "autodetect_not_supported": "Autodetect not supported",
        "please_select_a_specific_language": "Please select a specific language.",
        "input": "Input",
        "output": "Output",
        "@license": {},
        "@no_internet": {},
        "@ok": {},
        "@cancel": {},
        "@empty_clipboard": {},
        "@dark": {},
        "@follow_system": {},
        "@contribute_summary": {},
        "@help": {},
        "@donate": {},
        "@report_bug": {},
        "@website": {},
        "@text_recognition": {},
        "@install": {},
        "@enter_text_here": {},
        "@copied_to_clipboard": {},
        "@translate": {},
        "@settings": {},
        "@about": {},
        "@something_went_wrong": {},
        "@appearance": {},
        "@translation": {},
        "@version": {},
        "@liberapay": {},
        "@team": {},
        "@language_text_recognition": {},
        "@contact": {},
        "@email": {},
        "@theme": {},
        "@light": {},
        "@contribute": {}
    }
