-
    translations = {
        "about-text": "Poŝaparata kliento por <a>SimplyTranslate</a>.",
        "home": "Ĉefpaĝo",
        "download": "Elŝuti",
        "norwegian-bokmal": "Dannorvega",
        "portuguese-brazil": "Brazilportugala",
        "icon": "Piktogramo",
        "license-text.1": "Kopirajtoj © 2021 <a>ManeraKai</a>",
        "source": "Fonto",
        "screenshots": "Ekrankopioj",
        "testers": "Elprovantoj",
        "translators": "Tradukantoj",
        "chinese-hong-kong": "Ĉina Honkonga",
        "license": "Permesilo",
        "@license": {},
        "no_internet": "Sen Interreta konekto",
        "@no_internet": {},
        "ok": "Bone",
        "@ok": {},
        "cancel": "Nuligi",
        "@cancel": {},
        "empty_clipboard": "Tondujo estas malplena",
        "@empty_clipboard": {},
        "dark": "Malhela",
        "@dark": {},
        "follow_system": "Laŭ sistemo",
        "@follow_system": {},
        "contribute_summary": "Helpu plibonigi ĝin!",
        "@contribute_summary": {},
        "help": "Helpo",
        "@help": {},
        "donate": "Donaci",
        "@donate": {},
        "report_bug": "Raporti cimon",
        "@report_bug": {},
        "website": "Retejo",
        "@website": {},
        "text_recognition": "Tekstorekono",
        "@text_recognition": {},
        "install": "Instali",
        "@install": {},
        "enter_text_here": "Tajpu tekston ĉi tie",
        "@enter_text_here": {},
        "copied_to_clipboard": "Kopiita al tondujo",
        "@copied_to_clipboard": {},
        "translate": "Traduki",
        "@translate": {},
        "settings": "Agordoj",
        "@settings": {},
        "about": "Pri",
        "@about": {},
        "something_went_wrong": "Io fiaskis",
        "@something_went_wrong": {},
        "appearance": "Aspekto",
        "@appearance": {},
        "translation": "Tradukado",
        "@translation": {},
        "version": "Versio",
        "@version": {},
        "liberapay": "Liberapay",
        "@liberapay": {},
        "team": "Teamo",
        "@team": {},
        "language_text_recognition": "Tekstorekono – $language",
        "@language_text_recognition": {},
        "contact": "Kontakto",
        "@contact": {},
        "email": "Retpoŝto",
        "@email": {},
        "theme": "Etoso",
        "@theme": {},
        "light": "Hela",
        "@light": {},
        "contribute": "Kontribui",
        "@contribute": {}
    }
