-
    translations = {
        "icon": "Icono",
        "license-text.1": "Copyright (C) 2021 <a>ManeraKai</a>",
        "license-text.2": "Este programa es software libre: puedes redistribuirlo y/o modificarlo bajo los términos de la Licencia Pública General de GNU, publicada por la Free Software Foundation, ya sea la versión 3 o (a tu elección) cualquier versión posterior.",
        "home": "Inicio",
        "download": "Descargar",
        "source": "Código fuente",
        "about-text": "Un cliente móvil no oficial para <a>SimplyTranslate</a>.",
        "screenshots": "Capturas de pantalla",
        "testers": "Testers",
        "translators": "Traductores",
        "chinese-hong-kong": "Chino, Hong Kong",
        "norwegian-bokmal": "Noruego bokmål",
        "portuguese-brazil": "Portugués (Brasil)",
        "license-text.4": "Deberías haber recibido una copia de la <a>Licencia Pública General de GNU</a> junto con este programa.",
        "license-text.3": "Este programa está distribuido con la esperanza de que sea útil, pero SIN NINGUNA GARANTÍA; sin siquiera la garantía implícita de COMERCIABILIDAD o IDONEIDAD PARA UN PROPÓSITO PARTICULAR. Consulte la Licencia Pública General de GNU para obtener más detalles.",
        "autodetect": "Automático",
        "afrikaans": "Afrikáans",
        "albanian": "Albanés",
        "amharic": "Amárico",
        "arabic": "Árabe",
        "armenian": "Armenio",
        "azerbaijani": "Azerí",
        "basque": "Vasco",
        "belarusian": "Bielorruso",
        "bengali": "Bengalí",
        "bosnian": "Bosnio",
        "bulgarian": "Búlgaro",
        "catalan": "Catalán",
        "cebuano": "Cebuano",
        "chichewa": "Chichewa",
        "chinese": "Chino",
        "corsican": "Corso",
        "croatian": "Croata",
        "czech": "Checo",
        "danish": "Danés",
        "dutch": "Holandés",
        "english": "Inglés",
        "esperanto": "Esperanto",
        "estonian": "Estonio",
        "filipino": "Filipino",
        "finnish": "Finés",
        "french": "Francés",
        "frisian": "Frisón",
        "galician": "Gallego",
        "georgian": "Georgiano",
        "german": "Alemán",
        "greek": "Griego",
        "gujarati": "Guyaratí",
        "haitian_creole": "Criollo haitiano",
        "hausa": "Hausa",
        "hawaiian": "Hawaiano",
        "hebrew": "Hebreo",
        "hindi": "Hindi",
        "hmong": "Hmong",
        "hungarian": "Húngaro",
        "icelandic": "Islandés",
        "igbo": "Igbo",
        "indonesian": "Indonesio",
        "irish": "Irlandés",
        "italian": "Italiano",
        "japanese": "Japonés",
        "javanese": "Javanés",
        "kannada": "Canarés",
        "kazakh": "Kazakh",
        "khmer": "Jemer",
        "kinyarwanda": "Kiñaruanda",
        "korean": "Coreano",
        "kurdish_kurmanji": "Kurdo kurmanji",
        "kyrgyz": "Kirguís",
        "lao": "Lao",
        "latin": "Latín",
        "latvian": "Letón",
        "lithuanian": "Lituano",
        "luxembourgish": "Luxemburgués",
        "macedonian": "Macedonio",
        "malagasy": "Malgache",
        "malay": "Malayo",
        "malayalam": "Malabar",
        "maltese": "Maltés",
        "maori": "Maorí",
        "marathi": "Maratí",
        "mongolian": "Mongol",
        "myanmar_burmese": "Birmano",
        "nepali": "Nepalí",
        "norwegian": "Noruego",
        "odia_oriya": "Odia (Oriya)",
        "pashto": "Pastún",
        "persian": "Persa",
        "polish": "Polaco",
        "portuguese": "Portugués",
        "punjabi": "Panyabí",
        "romanian": "Rumano",
        "russian": "Ruso",
        "samoan": "Samoano",
        "scots_gaelic": "Gaélico escocés",
        "serbian": "Serbio",
        "sesotho": "Sesoto",
        "shona": "Shona",
        "sindhi": "Sindi",
        "sinhala": "Cingalés",
        "slovak": "Eslovaco",
        "slovenian": "Esloveno",
        "somali": "Somalí",
        "spanish": "Español",
        "sundanese": "Sondanés",
        "swahili": "Suajili",
        "swedish": "Sueco",
        "tajik": "Tayiko",
        "tamil": "Tamil",
        "tatar": "Tártaro",
        "telugu": "Télugu",
        "thai": "Tailandés",
        "turkish": "Turco",
        "turkmen": "Turcomano",
        "ukrainian": "Ucraniano",
        "urdu": "Urdu",
        "uyghur": "Uigur",
        "uzbek": "Uzbeko",
        "vietnamese": "Vietnamita",
        "welsh": "Galés",
        "xhosa": "Xhosa",
        "yiddish": "Yidis",
        "yoruba": "Yoruba",
        "zulu": "Zulú",
        "check_instnace_tts": "Comprobar instancia y su soporte para TTS (Texto a voz).",
        "@check_instnace_tts": {},
        "enter_text_here": "Introduce texto aquí",
        "@enter_text_here": {},
        "something_went_wrong": "Algo ha salido mal",
        "@something_went_wrong": {},
        "ok": "OK",
        "@ok": {},
        "input_calc": "Se ha superado el límite de 5000 caracteres por $lengthDifference",
        "@input_calc": {},
        "audio_limit": "No se puede obtener audio de más de 200 caracteres",
        "@audio_limit": {},
        "dark": "Oscuro",
        "@dark": {},
        "follow_system": "Sistema",
        "@follow_system": {},
        "default_share_language": "Idioma por defecto al compartir",
        "@default_share_language": {},
        "about": "Acerca de",
        "@about": {},
        "team": "Equipo",
        "@team": {},
        "contribute_summary": "¡Ayuda a hacerlo mejor!",
        "@contribute_summary": {},
        "version": "Versión",
        "@version": {},
        "donate_summary": "¡Lo apreciamos!",
        "@donate_summary": {},
        "trained_data_files_not_installed": "Los archivos de datos entrenados no están instalados.",
        "@trained_data_files_not_installed": {},
        "install": "Instalar",
        "@install": {},
        "updated_successfully": "Actualizada correctamente",
        "@updated_successfully": {},
        "check_instance": "Comprobar instancia.",
        "@check_instance": {},
        "copied_to_clipboard": "Copiado al portapapeles",
        "@copied_to_clipboard": {},
        "no_internet": "No hay conexión a internet",
        "@no_internet": {},
        "translate": "Traducir",
        "@translate": {},
        "cancel": "Cancelar",
        "@cancel": {},
        "empty_clipboard": "El portapapeles está vacío",
        "@empty_clipboard": {},
        "input_limit": "El texto a traducir tiene más de 5000 caracteres",
        "@input_limit": {},
        "input_fraction_one": "Se ha introducido $length caracter de 5000 posibles",
        "@input_fraction_one": {},
        "instances": "Instancias",
        "@instances": {},
        "appearance": "Apariencia",
        "@appearance": {},
        "input_fraction_few": "Se han introducido $length caracteres de 5000 posibles",
        "@input_fraction_few": {},
        "report_bug_summary": "Por favor, háznoslo saber",
        "@report_bug_summary": {},
        "input_fraction_many": "Se han introducido $length caracteres de 5000 posibles",
        "@input_fraction_many": {},
        "settings": "Ajustes",
        "@settings": {},
        "input_fraction_other": "Se han introducido $length caracteres de 5000 posibles",
        "@input_fraction_other": {},
        "not_available": "El servicio no está disponible",
        "@not_available": {},
        "random": "Aleatoria",
        "@random": {},
        "update_list_summary": "Actualiza la lista oficial de instancias",
        "@update_list_summary": {},
        "translation": "Traducción",
        "@translation": {},
        "instance": "Instancia",
        "@instance": {},
        "custom": "Personalizada",
        "@custom": {},
        "update_list": "Actualizar lista",
        "@update_list": {},
        "error": "Hubo un error",
        "@error": {},
        "default_share_language_summary": "Determina el idioma al que traducir cuando se comparte texto desde otra aplicación: $toLanguageShareDefault",
        "@default_share_language_summary": {},
        "help": "Ayuda",
        "@help": {},
        "donate": "Donar",
        "@donate": {},
        "report_bug": "Reportar un error",
        "@report_bug": {},
        "check": "Comprobar",
        "@check": {},
        "theme": "Tema",
        "@theme": {},
        "liberapay": "Liberapay",
        "@liberapay": {},
        "translate_summary": "¡Difúndelo al mundo!",
        "@translate_summary": {},
        "light": "Claro",
        "@light": {},
        "team_summary": "Programadores, traductores y testers",
        "@team_summary": {},
        "contribute": "Contribuir",
        "@contribute": {},
        "contact": "Contacto",
        "@contact": {},
        "license": "Licencia",
        "@license": {},
        "website": "Página web",
        "@website": {},
        "email": "Correo electrónico",
        "@email": {},
        "text_recognition": "Reconocimiento de texto",
        "@text_recognition": {},
        "download_trained_data_files": "Descargar archivos de datos entrenados",
        "@download_trained_data_files": {},
        "language_text_recognition": "Reconocimiento de texto - $language",
        "@language_text_recognition": {},
        "camera_is_not_accessible": "Camera is not accessible"
    }
