-
    translations = {
        "home": "Home",
        "download": "Download",
        "source": "Source",
        "about-text": "A mobile client for <a>SimplyTranslate</a>.",
        "screenshots": "Screenshots",
        "testers": "Testers",
        "translators": "Translators",
        "chinese-hong-kong": "Chinese, Hong Kong",
        "norwegian-bokmal": "Norwegian Bokmål",
        "portuguese-brazil": "Portuguese (Brazil)",
        "icon": "Icon",
        "license-text.1": "Copyright (C) 2021 <a>ManeraKai</a>",
        "license-text.2": "This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.",
        "license-text.3": "This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.",
        "license-text.4": "You should have received a copy of the <a>GNU General Public License</a> along with this program.",
        "autodetect": "شناسایی خودکار",
        "afrikaans": "آفریقایی",
        "albanian": "آلبانیایی",
        "amharic": "امهری",
        "arabic": "عربی",
        "armenian": "ارمنی",
        "azerbaijani": "آذربایجانی",
        "basque": "باسْکی",
        "belarusian": "بلاروسی",
        "bengali": "بنگالی",
        "bosnian": "بوسنیایی",
        "bulgarian": "بلغاری",
        "catalan": "کاتالانی",
        "cebuano": "سِبوانویی",
        "chichewa": "چوایی",
        "chinese": "چینی",
        "corsican": "کرسی",
        "croatian": "کرواتی",
        "czech": "چکی",
        "danish": "دانمارکی",
        "dutch": "هلندی",
        "english": "انگلیسی",
        "esperanto": "اسپرانتو",
        "estonian": "استونیایی",
        "filipino": "فیلیپینی",
        "finnish": "فنلاندی",
        "french": "فرانسوی",
        "frisian": "فریسی",
        "galician": "گالیسیایی",
        "georgian": "گرجی",
        "german": "آلمانی",
        "greek": "یونانی",
        "gujarati": "گجراتی",
        "haitian_creole": "کِریول آییسیِنی",
        "hausa": "هوسایی",
        "hawaiian": "هاوایی",
        "hebrew": "عبری",
        "hindi": "هندی",
        "hmong": "همونگ",
        "hungarian": "مجارستانی",
        "icelandic": "ایسلندی",
        "igbo": "ایگبو",
        "indonesian": "اندونزیایی",
        "irish": "ایرلندی",
        "italian": "ایتالیایی",
        "japanese": "ژاپنی",
        "javanese": "جاوه‌ای",
        "kannada": "کانارا",
        "kazakh": "قزاقی",
        "khmer": "خمر",
        "kinyarwanda": "رواندایی",
        "korean": "کره‌ای",
        "kurdish_kurmanji": "کردی",
        "kyrgyz": "قرقیزی",
        "lao": "لائو",
        "latin": "لاتین",
        "latvian": "لتونیایی",
        "lithuanian": "لیتوانیایی",
        "luxembourgish": "لوکزامبورگی",
        "macedonian": "مقدونی",
        "malagasy": "مالاگاسی",
        "malay": "مالایی",
        "malayalam": "مالایالم",
        "maltese": "مالتی",
        "maori": "مائوری",
        "marathi": "مراتی",
        "mongolian": "مغولی",
        "myanmar_burmese": "برمه‌ای",
        "nepali": "نپالی",
        "norwegian": "نروژی",
        "odia_oriya": "اودیه (اوریه)",
        "pashto": "پشتو",
        "persian": "پارسی",
        "polish": "لهستانی",
        "portuguese": "پرتقالی",
        "punjabi": "پنجابی",
        "romanian": "رومانیایی",
        "russian": "روسی",
        "samoan": "ساموآیی",
        "scots_gaelic": "گیلیک اسکاتلندی",
        "serbian": "صربی",
        "sesotho": "سوتو",
        "shona": "شونا",
        "sindhi": "سندی",
        "sinhala": "سینهالی",
        "slovak": "اسلواکی",
        "slovenian": "اسلوونیایی",
        "somali": "سومالیایی",
        "spanish": "اسپانیایی",
        "sundanese": "سوندایی",
        "swahili": "سواحِلی",
        "swedish": "سوئدی",
        "tajik": "تاجیکی",
        "tamil": "تامیلی",
        "tatar": "تاتاری",
        "telugu": "تلوگو",
        "thai": "تایلندی",
        "turkish": "ترکی",
        "turkmen": "ترکمن",
        "ukrainian": "اوکراینی",
        "urdu": "اردو",
        "uyghur": "اویغوری",
        "uzbek": "ازبکی",
        "vietnamese": "ویتنامی",
        "welsh": "ولزی",
        "xhosa": "خوسایی",
        "yiddish": "ییدیش",
        "yoruba": "یوروبایی",
        "zulu": "زولو",
        "@@locale": "en",
        "copied_to_clipboard": "ذخیره در کلیپ‌بورد",
        "translate": "ترجمه",
        "enter_text_here": "متن را اینجا وارد کنید",
        "something_went_wrong": "مشکلی پیش آمده",
        "check_instance": "بررسی نمونه.",
        "check_instnace_tts": "نمونه و پشتیبانی‌اش از متن به گفتار را بررسی کنید.",
        "no_internet": "اتصال به اینترنت برقرار نیست",
        "ok": "خُب",
        "cancel": "لغو",
        "empty_clipboard": "کلیپ‌بورد خالیست",
        "input_limit": "ورودی ترجمه بالای ۵۰۰۰ نویسه است",
        "input_calc": "تعداد نویسه از محدودیت ۵۰۰۰تایی $lengthDifference بیشتر شده",
        "input_fraction_one": "$length نویسه از ۵۰۰۰ نویسه ممکن وارد شده است",
        "input_fraction_few": "$length نویسه از ۵۰۰۰ نویسه ممکن وارد شده است",
        "input_fraction_many": "$length نویسه از ۵۰۰۰ نویسه ممکن وارد شده است",
        "input_fraction_other": "$length نویسه از ۵۰۰۰ نویسه ممکن وارد شده است",
        "audio_limit": "نمی توان برای بیش از ۲۰۰ نویسه صدا دریافت کرد",
        "not_available": "سرویس در دسترس نیست",
        "settings": "تنظیمات",
        "instances": "نمونه",
        "appearance": "ظاهر",
        "translation": "ترجمه",
        "translations": "Translations",
        "instance": "نمونه",
        "random": "تصادفی",
        "custom": "سفارشی",
        "check": "بررسی",
        "update_list": "به روز رسانی لیست",
        "update_list_summary": "به روز رسانی لیست رسمی نمونه‌ها",
        "updated_successfully": "با موفقیت به روز شد",
        "error": "یک مشکل به وجود آمده",
        "theme": "تم",
        "light": "روشن",
        "dark": "تیره",
        "follow_system": "مطابق با تم دستگاه",
        "default_share_language": "Default share language",
        "default_share_language_summary": "Determines the translation language for shared text from another app: $toLanguageShareDefault",
        "about": "درباره",
        "team": "تیم",
        "team_summary": "برنامه نویس‌ها، مترجم‌ها و امتحان کنندگان",
        "contribute": "مشارکت",
        "contribute_summary": "برای بهتر شدن این نرم‌افزار کمک کنید!",
        "version": "نسخه",
        "license": "پروانه",
        "help": "Help",
        "donate": "Donate",
        "liberapay": "Liberapay",
        "report_bug": "Report a bug",
        "website": "Website",
        "contact": "Contact",
        "email": "Email",
        "translate_summary": "Spread it to the world!",
        "donate_summary": "We appreciate it!",
        "report_bug_summary": "Please let us know",
        "text_recognition": "Text Recognition",
        "download_trained_data_files": "Download trained data files",
        "language_text_recognition": "Text Recognition - $language",
        "trained_data_files_not_installed": "Trained data files are not installed.",
        "install": "Install",
        "camera_is_not_accessible": "Camera is not accessible",
        "autodetect_not_supported": "Autodetect not supported",
        "please_select_a_specific_language": "Please select a specific language.",
        "input": "Input",
        "output": "Output",
        "@copied_to_clipboard": {},
        "@translate": {},
        "@enter_text_here": {},
        "@something_went_wrong": {},
        "@check_instance": {},
        "@check_instnace_tts": {},
        "@no_internet": {},
        "@ok": {},
        "@cancel": {},
        "@empty_clipboard": {},
        "@input_limit": {},
        "@input_calc": {},
        "@input_fraction_one": {},
        "@input_fraction_few": {},
        "@input_fraction_many": {},
        "@input_fraction_other": {},
        "@audio_limit": {},
        "@not_available": {},
        "@settings": {},
        "@instances": {},
        "@appearance": {},
        "@translation": {},
        "@instance": {},
        "@random": {},
        "@custom": {},
        "@check": {},
        "@update_list": {},
        "@update_list_summary": {},
        "@updated_successfully": {},
        "@error": {},
        "@theme": {},
        "@light": {},
        "@dark": {},
        "@follow_system": {},
        "@default_share_language": {},
        "@default_share_language_summary": {},
        "@about": {},
        "@team": {},
        "@team_summary": {},
        "@contribute": {},
        "@contribute_summary": {},
        "@version": {},
        "@license": {},
        "@help": {},
        "@donate": {},
        "@liberapay": {},
        "@report_bug": {},
        "@website": {},
        "@contact": {},
        "@email": {},
        "@translate_summary": {},
        "@donate_summary": {},
        "@report_bug_summary": {}
    }
