-
    translations = {
        "home": "Etusivu",
        "download": "Lataa",
        "source": "Lähde",
        "about-text": "Epävirallinen mobiiliasiakasohjelma <a>SimplyTranslate</a>:lle.",
        "screenshots": "Kuvakaappaukset",
        "testers": "Testaajat",
        "translators": "Kääntäjät",
        "chinese-hong-kong": "kiina, Hongkong",
        "norwegian-bokmal": "bokmålnorja",
        "portuguese-brazil": "portugali (Brasilia)",
        "icon": "Kuvake",
        "license-text.1": "Copyright © 2021 <a>ManeraKai</a>",
        "license-text.2": "Tämä ohjelma on vapaa ohjelmisto: voit levittää sitä tai muokata sitä Free Software Foundationin julkaiseman GNU General Public License -lisenssin ehtojen mukaisesti, joko lisenssin version 3 tai (valintasi mukaan) minkä tahansa myöhemmän version mukaisesti.",
        "license-text.3": "Tätä ohjelmaa jaetaan siinä toivossa, että siitä on hyötyä, mutta ilman mitään takuuta; ilman edes implisiittistä takuuta kauppakelpoisuudesta tai sopivuudesta tiettyyn tarkoitukseen. Katso lisätietoja GNU General Public License -lisenssistä.",
        "license-text.4": "Sinun on pitänyt saada tämän ohjelman mukana kopio <a>GNU General Public License</a>:stä.",
        "autodetect": "Automaattinen",
        "afrikaans": "afrikaans",
        "albanian": "albania",
        "catalan": "katalaani",
        "chinese": "kiina",
        "czech": "tšekki",
        "danish": "tanska",
        "dutch": "hollanti",
        "english": "englanti",
        "esperanto": "esperanto",
        "estonian": "viro",
        "finnish": "suomi",
        "french": "ranska",
        "gujarati": "gudžarati",
        "hebrew": "heprea",
        "hindi": "hindi",
        "hmong": "hmong",
        "irish": "iiri",
        "italian": "italia",
        "greek": "kreikka",
        "german": "saksa",
        "haitian_creole": "Haitin kreoli",
        "japanese": "japani",
        "scots_gaelic": "skotlantilainen gaeli",
        "russian": "venäjä",
        "polish": "puola",
        "portuguese": "portugali",
        "punjabi": "punjabi",
        "somali": "somali",
        "persian": "persia",
        "nepali": "nepali",
        "romanian": "romania",
        "norwegian": "norja",
        "pashto": "paštu",
        "khmer": "khmer",
        "kinyarwanda": "kinyarwanda",
        "cebuano": "cebuano",
        "chichewa": "chichewa",
        "corsican": "korsika",
        "croatian": "kroaatti",
        "amharic": "amhara",
        "arabic": "arabia",
        "armenian": "armenia",
        "azerbaijani": "azerbaidžani",
        "basque": "baski",
        "belarusian": "valkovenäjä",
        "bengali": "bengali",
        "bosnian": "bosnia",
        "bulgarian": "bulgaria",
        "latin": "latina",
        "latvian": "latvia",
        "lithuanian": "liettua",
        "korean": "korea",
        "kurdish_kurmanji": "kurdi (kurmanji)",
        "kazakh": "kazakki",
        "welsh": "kymri",
        "uzbek": "uzbekki",
        "xhosa": "xhosa",
        "spanish": "espanja",
        "slovak": "slovakki",
        "swedish": "ruotsi",
        "yiddish": "jiddiš",
        "zulu": "zulu",
        "yoruba": "joruba",
        "frisian": "friisi",
        "hausa": "hausa",
        "hawaiian": "havaiji",
        "hungarian": "unkari",
        "icelandic": "islanti",
        "igbo": "igbo",
        "indonesian": "indonesia",
        "javanese": "jaava",
        "kannada": "kannada",
        "kyrgyz": "kirgiisi",
        "lao": "lao",
        "maltese": "malta",
        "maori": "maori",
        "marathi": "marathi",
        "mongolian": "mongoli",
        "donate": "Lahjoita",
        "@donate": {},
        "about": "Tietoja",
        "@about": {},
        "translation": "Käännös",
        "@translation": {},
        "license": "Lisenssi",
        "@license": {},
        "copied_to_clipboard": "Tallennettu leikepöydälle",
        "@copied_to_clipboard": {},
        "translate": "Käännä",
        "@translate": {},
        "something_went_wrong": "Jokin meni pieleen",
        "@something_went_wrong": {},
        "check_instance": "Tarkista esimerkiksi.",
        "@check_instance": {},
        "check_instnace_tts": "Tarkista instanssi ja sen puhesynteesi-tuki.",
        "@check_instnace_tts": {},
        "enter_text_here": "Kirjoita teksti tähän",
        "@enter_text_here": {},
        "no_internet": "Ei internet-yhteyttä",
        "@no_internet": {},
        "ok": "OK",
        "@ok": {},
        "cancel": "Peruuta",
        "@cancel": {},
        "empty_clipboard": "Leikepöytä on tyhjä",
        "@empty_clipboard": {},
        "not_available": "Palvelu ei ole käytettävissä",
        "@not_available": {},
        "settings": "Asetukset",
        "@settings": {},
        "instances": "Instanssit",
        "@instances": {},
        "appearance": "Ulkonäkö",
        "@appearance": {},
        "check": "Tarkista",
        "@check": {},
        "update_list": "Päivitä luettelo",
        "@update_list": {},
        "updated_successfully": "Päivitetty onnistuneesti",
        "@updated_successfully": {},
        "error": "Tapahtui virhe",
        "@error": {},
        "theme": "Teema",
        "@theme": {},
        "light": "Vaalea",
        "@light": {},
        "dark": "Tumma",
        "@dark": {},
        "follow_system": "Seuraa järjestelmää",
        "@follow_system": {},
        "default_share_language": "Oletusarvoinen jakokieli",
        "@default_share_language": {},
        "team": "Tiimi",
        "@team": {},
        "team_summary": "Koodarit, kääntäjät ja testaajat",
        "@team_summary": {},
        "contribute": "Osallistu",
        "@contribute": {},
        "contribute_summary": "Auta tekemään siitä parempi!",
        "@contribute_summary": {},
        "version": "Versio",
        "@version": {},
        "liberapay": "Liberapay",
        "@liberapay": {},
        "help": "Apua",
        "@help": {},
        "report_bug": "Ilmoita virheestä",
        "@report_bug": {},
        "website": "Verkkosivusto",
        "@website": {},
        "contact": "Ota yhteyttä",
        "@contact": {},
        "email": "Sähköposti",
        "@email": {},
        "report_bug_summary": "Kerro meille",
        "@report_bug_summary": {},
        "install": "Asenna",
        "@install": {},
        "camera_is_not_accessible": "Kamera ei ole käytettävissä",
        "@camera_is_not_accessible": {},
        "text_recognition": "Tekstintunnistus",
        "@text_recognition": {},
        "input_limit": "Käännöksen syöttö on yli 5000",
        "@input_limit": {},
        "audio_limit": "Ääntä ei voi saada yli 200 merkille",
        "@audio_limit": {},
        "instance": "Instanssi",
        "@instance": {},
        "random": "Satunnainen",
        "@random": {},
        "custom": "Mukautettu",
        "@custom": {}
    }
