-
    translations = {
        "home": "Etusivu",
        "download": "Lataa",
        "source": "Lähde",
        "about-text": "Epävirallinen mobiiliasiakasohjelma <a>SimplyTranslate</a>:lle.",
        "screenshots": "Kuvakaappaukset",
        "testers": "Testaajat",
        "translators": "Kääntäjät",
        "chinese-hong-kong": "kiina, Hongkong",
        "norwegian-bokmal": "bokmålnorja",
        "portuguese-brazil": "portugali (Brasilia)",
        "icon": "Kuvake",
        "license-text.1": "Copyright © 2021 <a>ManeraKai</a>",
        "license-text.2": "Tämä ohjelma on vapaa ohjelmisto: voit levittää sitä tai muokata sitä Free Software Foundationin julkaiseman GNU General Public License -lisenssin ehtojen mukaisesti, joko lisenssin version 3 tai (valintasi mukaan) minkä tahansa myöhemmän version mukaisesti.",
        "license-text.3": "Tätä ohjelmaa jaetaan siinä toivossa, että siitä on hyötyä, mutta ilman mitään takuuta; ilman edes implisiittistä takuuta kauppakelpoisuudesta tai sopivuudesta tiettyyn tarkoitukseen. Katso lisätietoja GNU General Public License -lisenssistä.",
        "license-text.4": "Sinun on pitänyt saada tämän ohjelman mukana kopio <a>GNU General Public License</a>:stä.",
        "autodetect": "Automaattinen",
        "afrikaans": "afrikaans",
        "albanian": "albania",
        "amharic": "amhara",
        "arabic": "arabia",
        "armenian": "armenia",
        "azerbaijani": "azerbaidžani",
        "basque": "baski",
        "belarusian": "valkovenäjä",
        "bengali": "bengali",
        "bosnian": "bosnia",
        "bulgarian": "bulgaria",
        "catalan": "katalaani",
        "cebuano": "cebuano",
        "chichewa": "chichewa",
        "chinese": "kiina",
        "corsican": "korsika",
        "croatian": "kroaatti",
        "czech": "tšekki",
        "danish": "tanska",
        "dutch": "hollanti",
        "english": "englanti",
        "esperanto": "esperanto",
        "estonian": "viro",
        "filipino": "Filipino",
        "finnish": "suomi",
        "french": "ranska",
        "frisian": "friisi",
        "galician": "Galician",
        "georgian": "Georgian",
        "german": "saksa",
        "greek": "kreikka",
        "gujarati": "gudžarati",
        "haitian_creole": "Haitin kreoli",
        "hausa": "hausa",
        "hawaiian": "havaiji",
        "hebrew": "heprea",
        "hindi": "hindi",
        "hmong": "hmong",
        "hungarian": "unkari",
        "icelandic": "islanti",
        "igbo": "igbo",
        "indonesian": "indonesia",
        "irish": "iiri",
        "italian": "italia",
        "japanese": "japani",
        "javanese": "jaava",
        "kannada": "kannada",
        "kazakh": "kazakki",
        "khmer": "khmer",
        "kinyarwanda": "kinyarwanda",
        "korean": "korea",
        "kurdish_kurmanji": "kurdi (kurmanji)",
        "kyrgyz": "kirgiisi",
        "lao": "lao",
        "latin": "latina",
        "latvian": "latvia",
        "lithuanian": "liettua",
        "luxembourgish": "Luxembourgish",
        "macedonian": "Macedonian",
        "malagasy": "Malagasy",
        "malay": "Malay",
        "malayalam": "Malayalam",
        "maltese": "malta",
        "maori": "maori",
        "marathi": "marathi",
        "mongolian": "mongoli",
        "myanmar_burmese": "Myanmar (Burmese)",
        "nepali": "nepali",
        "norwegian": "norja",
        "odia_oriya": "Odia (Oriya)",
        "pashto": "paštu",
        "persian": "persia",
        "polish": "puola",
        "portuguese": "portugali",
        "punjabi": "punjabi",
        "romanian": "romania",
        "russian": "venäjä",
        "samoan": "Samoan",
        "scots_gaelic": "skotlantilainen gaeli",
        "serbian": "Serbian",
        "sesotho": "Sesotho",
        "shona": "Shona",
        "sindhi": "Sindhi",
        "sinhala": "Sinhala",
        "slovak": "slovakki",
        "slovenian": "Slovenian",
        "somali": "somali",
        "spanish": "espanja",
        "sundanese": "Sundanese",
        "swahili": "Swahili",
        "swedish": "ruotsi",
        "tajik": "Tajik",
        "tamil": "Tamil",
        "tatar": "Tatar",
        "telugu": "Telugu",
        "thai": "Thai",
        "turkish": "Turkish",
        "turkmen": "Turkmen",
        "ukrainian": "Ukrainian",
        "urdu": "Urdu",
        "uyghur": "Uyghur",
        "uzbek": "uzbekki",
        "vietnamese": "Vietnamese",
        "welsh": "kymri",
        "xhosa": "xhosa",
        "yiddish": "jiddiš",
        "yoruba": "joruba",
        "zulu": "zulu",
        "@@locale": "en",
        "copied_to_clipboard": "Tallennettu leikepöydälle",
        "translate": "Käännä",
        "enter_text_here": "Kirjoita teksti tähän",
        "something_went_wrong": "Jokin meni pieleen",
        "check_instance": "Tarkista esimerkiksi.",
        "check_instnace_tts": "Tarkista instanssi ja sen puhesynteesi-tuki.",
        "no_internet": "Ei internet-yhteyttä",
        "ok": "OK",
        "cancel": "Peruuta",
        "empty_clipboard": "Leikepöytä on tyhjä",
        "input_limit": "Käännöksen syöttö on yli 5000",
        "input_calc": "Exceeded 5000 character limit by $lengthDifference",
        "input_fraction_one": "Entered $length character out of 5000 possible",
        "input_fraction_few": "Entered $length characters out of 5000 possible",
        "input_fraction_many": "Entered $length characters out of 5000 possible",
        "input_fraction_other": "Entered $length characters out of 5000 possible",
        "audio_limit": "Ääntä ei voi saada yli 200 merkille",
        "not_available": "Palvelu ei ole käytettävissä",
        "settings": "Asetukset",
        "instances": "Instanssit",
        "appearance": "Ulkonäkö",
        "translation": "Käännös",
        "instance": "Instanssi",
        "random": "Satunnainen",
        "custom": "Mukautettu",
        "check": "Tarkista",
        "update_list": "Päivitä luettelo",
        "update_list_summary": "Updates the official list of instances",
        "updated_successfully": "Päivitetty onnistuneesti",
        "error": "Tapahtui virhe",
        "theme": "Teema",
        "light": "Vaalea",
        "dark": "Tumma",
        "follow_system": "Seuraa järjestelmää",
        "default_share_language": "Oletusarvoinen jakokieli",
        "default_share_language_summary": "Determines the translation language for shared text from another app: $toLanguageShareDefault",
        "about": "Tietoja",
        "team": "Tiimi",
        "team_summary": "Koodarit, kääntäjät ja testaajat",
        "contribute": "Osallistu",
        "contribute_summary": "Auta tekemään siitä parempi!",
        "version": "Versio",
        "license": "Lisenssi",
        "help": "Apua",
        "donate": "Lahjoita",
        "liberapay": "Liberapay",
        "report_bug": "Ilmoita virheestä",
        "website": "Verkkosivusto",
        "contact": "Ota yhteyttä",
        "email": "Sähköposti",
        "translate_summary": "Spread it to the world!",
        "donate_summary": "We appreciate it!",
        "report_bug_summary": "Kerro meille",
        "text_recognition": "Tekstintunnistus",
        "download_trained_data_files": "Download trained data files",
        "language_text_recognition": "Text Recognition - $language",
        "trained_data_files_not_installed": "Trained data files are not installed.",
        "install": "Asenna",
        "camera_is_not_accessible": "Kamera ei ole käytettävissä",
        "@donate": {},
        "@about": {},
        "@translation": {},
        "@license": {},
        "@copied_to_clipboard": {},
        "@translate": {},
        "@something_went_wrong": {},
        "@check_instance": {},
        "@check_instnace_tts": {},
        "@enter_text_here": {},
        "@no_internet": {},
        "@ok": {},
        "@cancel": {},
        "@empty_clipboard": {},
        "@not_available": {},
        "@settings": {},
        "@instances": {},
        "@appearance": {},
        "@check": {},
        "@update_list": {},
        "@updated_successfully": {},
        "@error": {},
        "@theme": {},
        "@light": {},
        "@dark": {},
        "@follow_system": {},
        "@default_share_language": {},
        "@team": {},
        "@team_summary": {},
        "@contribute": {},
        "@contribute_summary": {},
        "@version": {},
        "@liberapay": {},
        "@help": {},
        "@report_bug": {},
        "@website": {},
        "@contact": {},
        "@email": {},
        "@report_bug_summary": {},
        "@install": {},
        "@camera_is_not_accessible": {},
        "@text_recognition": {},
        "@input_limit": {},
        "@audio_limit": {},
        "@instance": {},
        "@random": {},
        "@custom": {}
    }
