-
    translations = {
        "license-text.4": "Vous devriez avoir reçu une copie de la <a>GNU General Public License</a> avec ce programme.",
        "download": "Télécharger",
        "source": "Source",
        "donate": "Faire un don",
        "about-text": "Un client mobile non officiel pour <a>SimplyTranslate</a>.",
        "translation-text.2": "Traduisez-le dans votre langue.",
        "translation-text.1": "Copiez le <a>fichier de traduction anglais</a>.",
        "translation-text.3": "Ajoutez votre nouveau fichier traduit dans <a1>ce répertoire</a1> avec le nom : main_<a2>$langCode</a2>.arb",
        "translation-text.4": "Envoyez-moi soit un courriel : <mailto>manerakai@protonmail.com</mailto>, soit une pull request.",
        "want-to-donate": "Envie de faire un don ?",
        "we-really-appreciate-it": "Nous en sommes vraiment reconnaissants !",
        "translators": "Traducteurs",
        "norwegian-bokmal": "norvégien bokmål",
        "portuguese-brazil": "portugais (Brésil)",
        "icon-text": "C’est pour le projet original de SimplyTranslate. Le concepteur est <a>joelchrono12</a>.",
        "license-text.1": "Copyright © 2021 <a>ManeraKai</a>",
        "license-text.3": "Ce programme est distribué dans l'espoir qu'il sera utile, mais SANS AUCUNE GARANTIE ; sans même la garantie implicite de COMMERCIALISATION ou d'ADÉQUATION À UN USAGE PARTICULIER. Voir la licence publique générale GNU pour plus de détails.",
        "home": "Accueil",
        "about": "À propos",
        "we-appreciate-it": "Nous sommes reconnaissants !",
        "screenshots": "Captures d’écran",
        "translation": "Traduction",
        "icon": "Icône",
        "testers": "Testeurs",
        "chinese-hong-kong": "chinois, Hong Kong",
        "license": "Licence",
        "license-text.2": "Ce programme est un logiciel libre : vous pouvez le redistribuer et/ou le modifier selon les termes de la licence publique générale GNU telle que publiée par la Free Software Foundation, soit la version 3 de la licence, soit (à votre choix) toute version ultérieure.",
        "autodetect": "Autodétection",
        "afrikaans": "afrikaans",
        "albanian": "albanais",
        "amharic": "amharique",
        "arabic": "arabe",
        "armenian": "arménien",
        "azerbaijani": "azerbaïdjanais",
        "basque": "basque",
        "belarusian": "biélorusse",
        "bengali": "bengali",
        "bosnian": "bosnien",
        "bulgarian": "bulgare",
        "catalan": "catalan",
        "cebuano": "cebuano",
        "chichewa": "chichewa",
        "chinese": "chinois",
        "corsican": "corse",
        "croatian": "croate",
        "czech": "tchèque",
        "danish": "danois",
        "dutch": "néerlandais",
        "english": "anglais",
        "esperanto": "espéranto",
        "estonian": "estonien",
        "filipino": "philippin",
        "finnish": "finnois",
        "french": "français",
        "frisian": "frison",
        "galician": "galicien",
        "georgian": "géorgien",
        "german": "allemand",
        "greek": "grec",
        "gujarati": "goudjarati",
        "haitian_creole": "créole haïtien",
        "hausa": "haoussa",
        "hawaiian": "hawaïen",
        "hebrew": "hébreu",
        "hindi": "hindi",
        "hmong": "hmong",
        "hungarian": "hongrois",
        "icelandic": "islandais",
        "igbo": "igbo",
        "indonesian": "indonésien",
        "irish": "irlandais",
        "italian": "italien",
        "japanese": "japonais",
        "javanese": "javanais",
        "kannada": "kannada",
        "kazakh": "kazakh",
        "khmer": "khmer",
        "kinyarwanda": "kinyarwanda",
        "korean": "coréen",
        "kurdish_kurmanji": "kurde (kurmanji)",
        "kyrgyz": "kirghize",
        "lao": "laotien",
        "latin": "latin",
        "latvian": "letton",
        "lithuanian": "lituanien",
        "luxembourgish": "luxembourgeois",
        "macedonian": "macédonien",
        "malagasy": "malgache",
        "malay": "malais",
        "malayalam": "malayalam",
        "maltese": "maltais",
        "maori": "maori",
        "marathi": "marathi",
        "mongolian": "mongol",
        "myanmar_burmese": "birman",
        "nepali": "népalais",
        "norwegian": "norvégien",
        "odia_oriya": "odia (oriya)",
        "pashto": "pachto",
        "persian": "persan",
        "polish": "polonais",
        "portuguese": "portugais",
        "punjabi": "pendjabi",
        "romanian": "roumain",
        "russian": "russe",
        "samoan": "samoan",
        "scots_gaelic": "gaélique écossais",
        "serbian": "serbe",
        "sesotho": "sesotho",
        "shona": "shona",
        "sindhi": "sindhi",
        "sinhala": "singhalais",
        "slovak": "slovaque",
        "slovenian": "slovène",
        "somali": "somali",
        "spanish": "espagnol",
        "sundanese": "soundanais",
        "swahili": "swahili",
        "swedish": "suédois",
        "tajik": "tadjik",
        "tamil": "tamoul",
        "tatar": "tatar",
        "telugu": "télougou",
        "thai": "thaï",
        "turkish": "turc",
        "turkmen": "turkmène",
        "ukrainian": "ukrainien",
        "urdu": "ourdou",
        "uyghur": "ouïghour",
        "uzbek": "ouzbek",
        "vietnamese": "vietnamien",
        "welsh": "gallois",
        "xhosa": "xhosa",
        "yiddish": "yiddish",
        "yoruba": "yorouba",
        "zulu": "zoulou"
    }
