-
    translations = {
        "home": "Hjem",
        "download": "Last ned",
        "source": "Kilde",
        "about-text": "En uoffisiell mobilklient for <a>SimplyTranslate</a>.",
        "screenshots": "Skjermavbildninger",
        "testers": "Testere",
        "translators": "Oversettere",
        "chinese-hong-kong": "Kinesisk, Hong Kong",
        "norwegian-bokmal": "Norsk bokmål",
        "portuguese-brazil": "Portugisisk (Brasil)",
        "icon": "Ikon",
        "license-text.1": "Opphavsrett © <a>ManeraKai</a>",
        "license-text.2": "Dette programmet er fri programvare: du kan redistribuere det og/eller endre det i henhold til vilkårene i GNU General Public-lisensen, som publisert av Free Software-stiftelsen, enten versjon 3 av lisensen, eller (fritt etter eget valg) enhver senere versjon.",
        "license-text.3": "Programmet distribueres i forhåpning om at det er nyttig, men UTEN NOEN FORM FOR GARANTI; selv uten implisitt garanti om SALGBARHET, eller FORMÅLSTJENLIGHET. Sjekk GNU General Public-lisensen for flere detaljer.",
        "license-text.4": "Du skal ha mottatt en kopi av <a>GNU General Public-lisensen</a> sammen med dette programmet.",
        "autodetect": "Oppdag automatisk",
        "afrikaans": "Afrikaans",
        "albanian": "Albansk",
        "amharic": "Amharisk",
        "arabic": "Arabisk",
        "armenian": "Armensk",
        "azerbaijani": "Aserbajdsjansk",
        "basque": "Baskisk",
        "belarusian": "Hviterussisk",
        "bengali": "Bengali",
        "bosnian": "Bosnisk",
        "bulgarian": "Bulgarsk",
        "catalan": "Katalansk",
        "cebuano": "Sugboanon",
        "chichewa": {},
        "chinese": "Kinesisk",
        "corsican": "Korsikansk",
        "croatian": "Kroatisk",
        "czech": "Tjekkisk",
        "danish": "Dansk",
        "dutch": "Nederlandsk",
        "english": "Engelsk",
        "esperanto": "Esperanto",
        "estonian": "Estisk",
        "filipino": "Filippinsk",
        "finnish": "Finsk",
        "french": "Fransk",
        "frisian": "Frisisk",
        "galician": "Galisisk",
        "georgian": "Georgisk",
        "german": "Tysk",
        "greek": "Gresk",
        "gujarati": "Gujarati",
        "haitian_creole": {},
        "hausa": "Hausa",
        "hawaiian": "Hawaiisk",
        "hebrew": "Hebraisk",
        "hindi": "Hindi",
        "hmong": "hmong",
        "hungarian": "Ungarsk",
        "icelandic": "Islandsk",
        "igbo": "Ibo",
        "indonesian": "Indonesisk",
        "irish": "Irsk",
        "italian": "Italiensk",
        "japanese": "Japansk",
        "javanese": "Javanesisk",
        "kannada": "Kannada/kannaresisk",
        "kazakh": "Kasakhisk",
        "khmer": {},
        "kinyarwanda": "Kinyarwanda",
        "korean": "Koreansk",
        "kurdish_kurmanji": {},
        "kyrgyz": "Kyrgyz",
        "lao": "Laotisk",
        "latin": "Latinsk",
        "latvian": "Latvisk",
        "lithuanian": "Litauisk",
        "luxembourgish": "Luxembourgsk",
        "macedonian": "Makedonsk",
        "malagasy": "Madagassisk/gassisk",
        "malay": "Malayisk",
        "malayalam": "Malayalam",
        "maltese": "Maltesisk",
        "maori": "Maori",
        "marathi": "Marathi",
        "mongolian": "Mongolsk",
        "myanmar_burmese": {},
        "nepali": "Nepali/gorkhali",
        "norwegian": {},
        "odia_oriya": {},
        "pashto": "Pashto/afghansk",
        "persian": "Persisk",
        "polish": "Polsk",
        "portuguese": "Portugisisk",
        "punjabi": "Punjabi",
        "romanian": "Rumensk",
        "russian": "Russisk",
        "samoan": "Samoansk",
        "scots_gaelic": {},
        "serbian": "Serbisk",
        "sesotho": {},
        "shona": "Shona",
        "sindhi": "Sindhi",
        "sinhala": "Singalesisk",
        "slovak": "Slovakisk",
        "slovenian": "Slovensk",
        "somali": "Somali",
        "spanish": "Spansk",
        "sundanese": "Sundanesisk",
        "swahili": "Swahili",
        "swedish": "Svensk",
        "tajik": "Tadsjikisk",
        "tamil": "Tamilsk",
        "tatar": "Tartarisk",
        "telugu": "Telugu",
        "thai": "Thai",
        "turkish": "Tyrkisk",
        "turkmen": "Turkmensk",
        "ukrainian": "Ukrainsk",
        "urdu": "Urdu",
        "uyghur": "Uigurisk",
        "uzbek": "Usbekisk",
        "vietnamese": "Vietnamesisk",
        "welsh": "Walisisk",
        "xhosa": "Xhosa",
        "yiddish": "Jiddisk",
        "yoruba": "Joruba",
        "zulu": "Zulu",
        "@@locale": "en",
        "copied_to_clipboard": "Kopiert til utklippstavle",
        "translate": "Oversett",
        "enter_text_here": "Skriv inn tekst her",
        "something_went_wrong": "Noe gikk galt",
        "check_instance": "Sjekk instansen.",
        "check_instnace_tts": "Sjekk instansen og dens TTS (tekst-til-tale)-støtte.",
        "no_internet": "Mangler tilkobling til Internett",
        "ok": "OK",
        "cancel": "Avbryt",
        "empty_clipboard": "Utklippstavlen er tom",
        "input_limit": "Du har brukt mer enn 5000 tegn",
        "input_calc": "Over $length tegn av 5000 mulige",
        "input_fraction_one": "$length tegn av 5000 mulige",
        "input_fraction_few": "$length tegn av 5000 mulige",
        "input_fraction_many": "$length tegn av 5000 mulige",
        "input_fraction_other": "$length tegn av 5000 mulige",
        "audio_limit": "Kan ikke hente lyd for mer enn 200 tegn",
        "not_available": "Tjenesten er ikke tilgjengelig",
        "settings": "Innstillinger",
        "instances": "Instanser",
        "appearance": "Utseende",
        "translation": "Oversettelse",
        "translations": "Translations",
        "instance": "Instans",
        "random": "Tilfeldig",
        "custom": "Egendefinert",
        "check": "Sjekk",
        "update_list": "Oppdater listen",
        "update_list_summary": "Oppdaterer den offisielle listen over instanser",
        "updated_successfully": "Oppdatert",
        "error": "En feil oppstod",
        "theme": "Drakt",
        "light": "Lys",
        "dark": "Mørk",
        "follow_system": "System",
        "default_share_language": "Forvalgt delingsspråk",
        "default_share_language_summary": "Bestemmer oversettelsesspråket for delt tekst fra andre programmer: $toLanguageShareDefault",
        "about": "Om",
        "team": "Lag",
        "team_summary": "Kodere, oversettere og testere",
        "contribute": "Bidra",
        "contribute_summary": "Hjelp til.",
        "version": "Versjon",
        "license": "Lisens",
        "help": "Hjelp",
        "donate": "Doner",
        "liberapay": "Liberapay",
        "report_bug": "Innrapporter en feil",
        "website": "Nettside",
        "contact": "Kontakt",
        "email": "E-post",
        "translate_summary": "Bruk jungeltelegrafen.",
        "donate_summary": "Din hjelp settes stor pris på.",
        "report_bug_summary": "La det komme oss til kjenne",
        "text_recognition": "Tekstgjenkjenning",
        "download_trained_data_files": "Last ned treningsdatafiler",
        "language_text_recognition": "Tekstgjenkjenning av $language",
        "trained_data_files_not_installed": "Filer inneholdende treningsdata er ikke installert.",
        "install": "Installer",
        "camera_is_not_accessible": "Camera is not accessible",
        "autodetect_not_supported": "Autodetect not supported",
        "please_select_a_specific_language": "Please select a specific language.",
        "input": "Input",
        "output": "Output",
        "@light": {},
        "@copied_to_clipboard": {},
        "@translate": {},
        "@enter_text_here": {},
        "@something_went_wrong": {},
        "@check_instance": {},
        "@check_instnace_tts": {},
        "@ok": {},
        "@empty_clipboard": {},
        "@not_available": {},
        "@settings": {},
        "@instances": {},
        "@random": {},
        "@custom": {},
        "@check": {},
        "@update_list": {},
        "@updated_successfully": {},
        "@theme": {},
        "@dark": {},
        "@follow_system": {},
        "@about": {},
        "@team": {},
        "@team_summary": {},
        "@contribute": {},
        "@version": {},
        "@license": {},
        "@help": {},
        "@donate": {},
        "@liberapay": {},
        "@report_bug": {},
        "@website": {},
        "@contact": {},
        "@email": {},
        "@translate_summary": {},
        "@donate_summary": {},
        "@default_share_language": {},
        "@default_share_language_summary": {},
        "@update_list_summary": {},
        "@input_fraction_other": {},
        "@input_fraction_many": {},
        "@input_fraction_few": {},
        "@no_internet": {},
        "@cancel": {},
        "@instance": {},
        "@appearance": {},
        "@translation": {},
        "@audio_limit": {},
        "@report_bug_summary": {},
        "@error": {},
        "@input_fraction_one": {},
        "@input_calc": {},
        "@input_limit": {},
        "@install": {},
        "@trained_data_files_not_installed": {},
        "@language_text_recognition": {},
        "@text_recognition": {},
        "@contribute_summary": {},
        "@download_trained_data_files": {}
    }
