-
    translations = {
        "source": "Kilde",
        "translation-text.1": "Kopier den <a>engelske oversettelsesfilen</a>.",
        "translation-text.2": "Oversett den på ditt eget språk.",
        "about": "Om",
        "home": "Hjem",
        "donate": "Doner",
        "download": "Last ned",
        "about-text": "En uoffisiell mobilklient for <a>SimplyTranslate</a>.",
        "screenshots": "Skjermavbildninger",
        "license": "Lisens",
        "translation": "Oversettelse",
        "translation-text.3": "Legg til din nylig oversatte fil i <a1>denne mappen</a1> med navnet: main_<a2>$langCode</a2>.arb",
        "translation-text.4": "Du kan enten sende en e-post til <mailto>manerakai@protonmail.com</mailto>, eller lage en flettingsforespørsel.",
        "norwegian-bokmal": "Norsk bokmål",
        "portuguese-brazil": "Portugisisk (Brasil)",
        "icon-text": "Tilhører det originale SimplyTranslate-prosjektet. Designeren er <a>joelchrono12</a>.",
        "want-to-donate": "Vil du donere?",
        "testers": "Testere",
        "chinese-hong-kong": "Kinesisk, Hong Kong",
        "translators": "Oversettere",
        "icon": "Ikon",
        "license-text.1": "Opphavsrett © <a>ManeraKai</a>",
        "license-text.4": "Du skal ha mottatt en kopi av <a>GNU General Public-lisensen</a> sammen med dette programmet.",
        "we-appreciate-it": "Det vertsettes.",
        "we-really-appreciate-it": "Takk skal du virkelig ha.",
        "license-text.3": "Programmet distribueres i forhåpning om at det er nyttig, men UTEN NOEN FORM FOR GARANTI; selv uten implisitt garanti om SALGBARHET, eller FORMÅLSTJENLIGHET. Sjekk GNU General Public-lisensen for flere detaljer.",
        "license-text.2": "Dette programmet er fri programvare: du kan redistribuere det og/eller endre det i henhold til vilkårene i GNU General Public-lisensen, som publisert av Free Software-stiftelsen, enten versjon 3 av lisensen, eller (fritt etter eget valg) enhver senere versjon.",
        "autodetect": "Oppdag automatisk",
        "afrikaans": "Afrikaans",
        "albanian": "Albansk",
        "amharic": "Amharisk",
        "arabic": "Arabisk",
        "armenian": "Armensk",
        "azerbaijani": "Aserbajdsjansk",
        "basque": "Baskisk",
        "belarusian": "Hviterussisk",
        "bengali": "Bengali",
        "bosnian": "Bosnisk",
        "bulgarian": "Bulgarsk",
        "catalan": "Katalansk",
        "cebuano": "Sugboanon",
        "chichewa": {},
        "chinese": "Kinesisk",
        "corsican": "Korsikansk",
        "croatian": "Kroatisk",
        "czech": "Tjekkisk",
        "danish": "Dansk",
        "dutch": "Nederlandsk",
        "english": "Engelsk",
        "esperanto": "Esperanto",
        "estonian": "Estisk",
        "filipino": "Filippinsk",
        "finnish": "Finsk",
        "french": "Fransk",
        "frisian": "Frisisk",
        "galician": "Galisisk",
        "georgian": "Georgisk",
        "german": "Tysk",
        "greek": "Gresk",
        "gujarati": "Gujarati",
        "haitian_creole": {},
        "hausa": "Hausa",
        "hawaiian": "Hawaiisk",
        "hebrew": "Hebraisk",
        "hindi": "Hindi",
        "hmong": "hmong",
        "hungarian": "Ungarsk",
        "icelandic": "Islandsk",
        "igbo": "Ibo",
        "indonesian": "Indonesisk",
        "irish": "Irsk",
        "italian": "Italiensk",
        "japanese": "Japansk",
        "javanese": "Javanesisk",
        "kannada": "Kannada/kannaresisk",
        "kazakh": "Kasakhisk",
        "khmer": {},
        "kinyarwanda": "Kinyarwanda",
        "korean": "Koreansk",
        "kurdish_kurmanji": {},
        "kyrgyz": "Kyrgyz",
        "lao": "Laotisk",
        "latin": "Latinsk",
        "latvian": "Latvisk",
        "lithuanian": "Litauisk",
        "luxembourgish": "Luxembourgsk",
        "macedonian": "Makedonsk",
        "malagasy": "Madagassisk/gassisk",
        "malay": "Malayisk",
        "malayalam": "Malayalam",
        "maltese": "Maltesisk",
        "maori": "Maori",
        "marathi": "Marathi",
        "mongolian": "Mongolsk",
        "myanmar_burmese": {},
        "nepali": "Nepali/gorkhali",
        "norwegian": {},
        "odia_oriya": {},
        "pashto": "Pashto/afghansk",
        "persian": "Persisk",
        "polish": "Polsk",
        "portuguese": "Portugisisk",
        "punjabi": "Punjabi",
        "romanian": "Rumensk",
        "russian": "Russisk",
        "samoan": "Samoansk",
        "scots_gaelic": {},
        "serbian": "Serbisk",
        "sesotho": {},
        "shona": "Shona",
        "sindhi": "Sindhi",
        "sinhala": "Singalesisk",
        "slovak": "Slovakisk",
        "slovenian": "Slovensk",
        "somali": "Somali",
        "spanish": "Spansk",
        "sundanese": "Sundanesisk",
        "swahili": "Swahili",
        "swedish": "Svensk",
        "tajik": "Tadsjikisk",
        "tamil": "Tamilsk",
        "tatar": "Tartarisk",
        "telugu": "Telugu",
        "thai": "Thai",
        "turkish": "Tyrkisk",
        "turkmen": "Turkmensk",
        "ukrainian": "Ukrainsk",
        "urdu": "Urdu",
        "uyghur": "Uigurisk",
        "uzbek": "Usbekisk",
        "vietnamese": "Vietnamesisk",
        "welsh": "Walisisk",
        "xhosa": "Xhosa",
        "yiddish": "Jiddisk",
        "yoruba": "Joruba",
        "zulu": "Zulu"
    }
