-
    translations = {
        "home": "Strona główna",
        "download": "Pobierz",
        "source": "Źródło",
        "about-text": "Nieoficjalny klient mobilny dla <a>SimplyTranslate</a>.",
        "screenshots": "Zrzuty ekranu",
        "testers": "Testerzy",
        "translators": "Tłumacze",
        "chinese-hong-kong": "chiński (Hongkong)",
        "norwegian-bokmal": "norweski (bokmål)",
        "portuguese-brazil": "portugalski (Brazylia)",
        "icon": "Ikona",
        "license-text.1": "Copyright (C) 2021 <a>ManeraKai</a>",
        "license-text.2": "Ten program jest wolnym oprogramowaniem: możesz go redystrybuować i/lub modyfikować zgodnie z warunkami licencji GNU General Public License opublikowanej przez Free Software Foundation, w wersji 3 tej Licencji lub (według Twojego wyboru) dowolnej późniejszej wersji.",
        "license-text.3": "Ten program jest rozpowszechniany w nadziei, że będzie przydatny, ale BEZ ŻADNEJ GWARANCJI; bez dorozumianej gwarancji PRZYDATNOŚCI HANDLOWEJ lub PRZYDATNOŚCI DO OKREŚLONEGO CELU. Więcej szczegółów znajdziesz w licencji GNU General Public License.",
        "license-text.4": "Wraz z tym programem powinieneś otrzymać kopię licencji <a>GNU General Public License</a>.",
        "autodetect": "Autowykrywanie",
        "afrikaans": "afrikaans",
        "albanian": "albański",
        "amharic": "amharski",
        "arabic": "arabski",
        "armenian": "ormiański",
        "azerbaijani": "azerski",
        "basque": "baskijski",
        "belarusian": "białoruski",
        "bengali": "bengalski",
        "bosnian": "bośniacki",
        "bulgarian": "bułgarski",
        "catalan": "kataloński",
        "cebuano": "cebuański",
        "chichewa": "cziczewa",
        "chinese": "chiński",
        "corsican": "korsykański",
        "croatian": "chorwacki",
        "czech": "czeski",
        "danish": "duński",
        "dutch": "niderlandzki",
        "english": "angielski",
        "esperanto": "esperanto",
        "estonian": "estoński",
        "filipino": "filipiński",
        "finnish": "fiński",
        "french": "francuski",
        "frisian": "fryzyjski",
        "galician": "galicyjski",
        "georgian": "gruziński",
        "german": "niemiecki",
        "greek": "grecki",
        "gujarati": "gudżarati",
        "haitian_creole": "kreolski (Haiti)",
        "hausa": "hausa",
        "hawaiian": "hawajski",
        "hebrew": "hebrajski",
        "hindi": "hindi",
        "hmong": "hmong",
        "hungarian": "węgierski",
        "icelandic": "islandzki",
        "igbo": "igbo",
        "indonesian": "indonezyjski",
        "irish": "irlandzki",
        "italian": "włoski",
        "japanese": "japoński",
        "javanese": "jawajski",
        "kannada": "kannada",
        "kazakh": "kazachski",
        "khmer": "khmerski",
        "kinyarwanda": "ruanda-rundi",
        "korean": "koreański",
        "kurdish_kurmanji": "kurdyjski",
        "kyrgyz": "kirgiski",
        "lao": "laotański",
        "latin": "łaciński",
        "latvian": "łotewski",
        "lithuanian": "litewski",
        "luxembourgish": "luksemburski",
        "macedonian": "macedoński",
        "malagasy": "malgaski",
        "malay": "malajski",
        "malayalam": "malajalam",
        "maltese": "maltański",
        "maori": "maori",
        "marathi": "marathi",
        "mongolian": "mongolski",
        "myanmar_burmese": "birmański",
        "nepali": "nepalski",
        "norwegian": "norweski",
        "odia_oriya": "orija",
        "pashto": "paszto",
        "persian": "perski",
        "polish": "polski",
        "portuguese": "portugalski",
        "punjabi": "pendżabski",
        "romanian": "rumuński",
        "russian": "rosyjski",
        "samoan": "samoański",
        "scots_gaelic": "szkocki gaelicki",
        "serbian": "serbski",
        "sesotho": "sotho",
        "shona": "shona",
        "sindhi": "sindhi",
        "sinhala": "syngaleski",
        "slovak": "słowacki",
        "slovenian": "słoweński",
        "somali": "somalijski",
        "spanish": "hiszpański",
        "sundanese": "sundajski",
        "swahili": "suahili",
        "swedish": "szwedzki",
        "tajik": "tadżycki",
        "tamil": "tamilski",
        "tatar": "tatarski",
        "telugu": "telugu",
        "thai": "tajski",
        "turkish": "turecki",
        "turkmen": "turkmeński",
        "ukrainian": "ukraiński",
        "urdu": "urdu",
        "uyghur": "ujgurski",
        "uzbek": "uzbecki",
        "vietnamese": "wietnamski",
        "welsh": "walijski",
        "xhosa": "xhosa",
        "yiddish": "jidysz",
        "yoruba": "joruba",
        "zulu": "zulu",
        "copied_to_clipboard": "Skopiowano do schowka",
        "@copied_to_clipboard": {},
        "translate": "Przetłumacz",
        "@translate": {},
        "enter_text_here": "Wpisz tutaj tekst",
        "@enter_text_here": {},
        "something_went_wrong": "Coś poszło nie tak",
        "@something_went_wrong": {},
        "check_instance": "Sprawdź instancję.",
        "@check_instance": {},
        "check_instnace_tts": "Sprawdź instancję i jej obsługę TTS (zamiana tekstu na mowę).",
        "@check_instnace_tts": {},
        "no_internet": "Brak połączenia z Internetem",
        "@no_internet": {},
        "ok": "OK",
        "@ok": {},
        "cancel": "Anuluj",
        "@cancel": {},
        "empty_clipboard": "Schowek jest pusty",
        "@empty_clipboard": {},
        "input_limit": "Tekst źródłowy ma ponad 5000 znaków",
        "@input_limit": {},
        "input_calc": "Przekroczono o $lengthDifference limit 5000 znaków",
        "@input_calc": {},
        "input_fraction_one": "Wpisano $length znak z 5000 możliwych",
        "@input_fraction_one": {},
        "input_fraction_few": "Wpisano $length znaki z 5000 możliwych",
        "@input_fraction_few": {},
        "input_fraction_many": "Wpisano $length znaków z 5000 możliwych",
        "@input_fraction_many": {},
        "input_fraction_other": "Wpisano $length znaków z 5000 możliwych",
        "@input_fraction_other": {},
        "audio_limit": "Nie można uzyskać dźwięku dla ponad 200 znaków",
        "@audio_limit": {},
        "not_available": "Usługa jest niedostępna",
        "@not_available": {},
        "settings": "Ustawienia",
        "@settings": {},
        "instances": "Instancje",
        "@instances": {},
        "appearance": "Wygląd",
        "@appearance": {},
        "translation": "Tłumaczenie",
        "@translation": {},
        "instance": "Instancja",
        "@instance": {},
        "random": "Losowa",
        "@random": {},
        "custom": "Własna",
        "@custom": {},
        "check": "Sprawdź",
        "@check": {},
        "update_list": "Zaktualizuj listę",
        "@update_list": {},
        "update_list_summary": "Aktualizuje oficjalną listę instancji",
        "@update_list_summary": {},
        "updated_successfully": "Zaktualizowano pomyślnie",
        "@updated_successfully": {},
        "error": "Wystąpił błąd",
        "@error": {},
        "theme": "Motyw",
        "@theme": {},
        "light": "Jasny",
        "@light": {},
        "dark": "Ciemny",
        "@dark": {},
        "follow_system": "Zgodny z systemowym",
        "@follow_system": {},
        "default_share_language": "Domyślny język udostępnień",
        "@default_share_language": {},
        "default_share_language_summary": "Określa język tłumaczenia dla tekstu udostępnionego z innej aplikacji: $toLanguageShareDefault",
        "@default_share_language_summary": {},
        "about": "O aplikacji",
        "@about": {},
        "team": "Zespół",
        "@team": {},
        "team_summary": "Programiści, tłumacze i testerzy",
        "@team_summary": {},
        "contribute": "Wnieś swój wkład",
        "@contribute": {},
        "contribute_summary": "Pomóż udoskonalić aplikację!",
        "@contribute_summary": {},
        "version": "Wersja",
        "@version": {},
        "license": "Licencja",
        "@license": {},
        "help": "Pomoc",
        "@help": {},
        "donate": "Wesprzyj",
        "@donate": {},
        "liberapay": "Liberapay",
        "@liberapay": {},
        "report_bug": "Zgłoś błąd",
        "@report_bug": {},
        "website": "Strona internetowa",
        "@website": {},
        "contact": "Kontakt",
        "@contact": {},
        "email": "E-mail",
        "@email": {},
        "translate_summary": "Powiedz o tym całemu światu!",
        "@translate_summary": {},
        "donate_summary": "Doceniamy to!",
        "@donate_summary": {},
        "report_bug_summary": "Daj nam znać",
        "@report_bug_summary": {},
        "text_recognition": "Rozpoznawanie tekstu",
        "@text_recognition": {},
        "download_trained_data_files": "Pobierz pliki z wytrenowanymi danymi",
        "@download_trained_data_files": {},
        "language_text_recognition": "Rozpoznawanie tekstu – $language",
        "@language_text_recognition": {},
        "trained_data_files_not_installed": "Pliki z wytrenowanymi danymi nie są zainstalowane.",
        "@trained_data_files_not_installed": {},
        "install": "Zainstaluj",
        "@install": {},
        "camera_is_not_accessible": "Aparat jest niedostępny",
        "@camera_is_not_accessible": {}
    }
