-
    translations = {
        "home": "Домой",
        "download": "Скачать",
        "source": "Источник",
        "about-text": "Мобильный клиент для <a>SimplyTranslate</a>.",
        "screenshots": "Скриншоты",
        "testers": "Тестировщики",
        "translators": "Переводчики",
        "chinese-hong-kong": "Китайский, Гонконг",
        "norwegian-bokmal": "Норвежский (Букмол)",
        "portuguese-brazil": "Португальский (Бразильский)",
        "icon": "Иконка",
        "license-text.1": "Copyright © 2021 <a>ManeraKai</a>",
        "license-text.2": "Эта программа является бесплатным программным обеспечением: вы можете повторно распространять её и/или модифицировать её, согласно условиям GNU General Public License, опубликованной Free Software Foundation, либо Лицензии версии 3, либо (по вашему усмотрению) любой последующей версии.",
        "license-text.3": "Эта программа распространяется в надежде, что она будет полезна, но БЕЗ ВСЯКИХ ГАРАНТИЙ; даже без подразумеваемых гарантий ТОВАРНОЙ ПРИГОДНОСТИ или ПРИГОДНОСТИ ДЛЯ ОПРЕДЕЛЁННЫХ ЦЕЛЕЙ. Читайте GNU General Public License для более подробной информации.",
        "license-text.4": "Вы должны были получить копию <a>GNU General Public License</a> вместе с этой программой.",
        "autodetect": "Определить язык",
        "afrikaans": "Африкаанс",
        "albanian": "Албанский",
        "amharic": "Амхарский",
        "arabic": "Арабский",
        "armenian": "Армянский",
        "azerbaijani": "Азербайджанский",
        "basque": "Баскский",
        "belarusian": "Белорусский",
        "bengali": "Бенгальский",
        "bosnian": "Боснийский",
        "bulgarian": "Болгарский",
        "catalan": "Каталанский",
        "cebuano": "Себуанский",
        "chichewa": "Чичева",
        "chinese": "Китайский",
        "corsican": "Корсиканский",
        "croatian": "Хорватский",
        "czech": "Чешский",
        "danish": "Датский",
        "dutch": "Нидерландский",
        "english": "Английский",
        "esperanto": "Эсперанто",
        "estonian": "Эстонский",
        "filipino": "Филиппинский",
        "finnish": "Финский",
        "french": "Французский",
        "frisian": "Фризский",
        "galician": "Галисийский",
        "georgian": "Грузинский",
        "german": "Немецкий",
        "greek": "Греческий",
        "gujarati": "Гуджарати",
        "haitian_creole": "Креольский (Гаити)",
        "hausa": "Хауса",
        "hawaiian": "Гавайский",
        "hebrew": "Иврит",
        "hindi": "Хинди",
        "hmong": "Хмонг",
        "hungarian": "Венгерский",
        "icelandic": "Исландский",
        "igbo": "Игбо",
        "indonesian": "Индонезийский",
        "irish": "Ирландский",
        "italian": "Итальянский",
        "japanese": "Японский",
        "javanese": "Яванский",
        "kannada": "Каннада",
        "kazakh": "Казахский",
        "khmer": "Кхмерский",
        "kinyarwanda": "Киньяруанда",
        "korean": "Корейский",
        "kurdish_kurmanji": "Курдский (Курманджи)",
        "kyrgyz": "Киргизский",
        "lao": "Лаосский",
        "latin": "Латинский",
        "latvian": "Латвийский",
        "lithuanian": "Литовский",
        "luxembourgish": "Люксембургский",
        "macedonian": "Македонский",
        "malagasy": "Малагасийский",
        "malay": "Малайский",
        "malayalam": "Малаялам",
        "maltese": "Мальтийский",
        "maori": "Маори",
        "marathi": "Маратхи",
        "mongolian": "Монгольский",
        "myanmar_burmese": "Бирманский (Мьянма)",
        "nepali": "Непальский",
        "norwegian": "Норвежский",
        "odia_oriya": "Одиа (Ория)",
        "pashto": "Пушту",
        "persian": "Персидский",
        "polish": "Польский",
        "portuguese": "Португальский",
        "punjabi": "Панджаби",
        "romanian": "Румынский",
        "russian": "Русский",
        "samoan": "Самоанский",
        "scots_gaelic": "Шотландский (Гэльский)",
        "serbian": "Сербский",
        "sesotho": "Сесото",
        "shona": "Шона",
        "sindhi": "Синдхи",
        "sinhala": "Синхала",
        "slovak": "Словацкий",
        "slovenian": "Словенский",
        "somali": "Сомалийский",
        "spanish": "Испанский",
        "sundanese": "Суданский",
        "swahili": "Суахили",
        "swedish": "Шведский",
        "tajik": "Таджикский",
        "tamil": "Тамильский",
        "tatar": "Татарский",
        "telugu": "Телугу",
        "thai": "Тайский",
        "turkish": "Турецкий",
        "turkmen": "Туркменский",
        "ukrainian": "Украинский",
        "urdu": "Урду",
        "uyghur": "Уйгурский",
        "uzbek": "Узбекский",
        "vietnamese": "Вьетнамский",
        "welsh": "Валлийский",
        "xhosa": "Кхоса",
        "yiddish": "Идиш",
        "yoruba": "Йоруба",
        "zulu": "Зулу",
        "@@locale": "en",
        "copied_to_clipboard": "Скопировано в буфер обмена",
        "translate": "Перевести",
        "enter_text_here": "Введите текст в это поле",
        "something_went_wrong": "Что-то пошло не так",
        "check_instance": "Проверить инстанцию.",
        "check_instnace_tts": "Проверить инстанцию и наличие поддержки TTS (Текст-в-Речь).",
        "no_internet": "Нет подключения к интернету",
        "ok": "OK",
        "cancel": "Отмена",
        "empty_clipboard": "Буфер обмена пуст",
        "input_limit": "Введённый текст больше 5000 символов",
        "input_calc": "Превышено ограничение в 5000 символов в $lengthDifference",
        "input_fraction_one": "Введён $length символ из 5000 возможных",
        "input_fraction_few": "Введено $length символов из 5000 возможных",
        "input_fraction_many": "Введено $length символов из 5000 возможных",
        "input_fraction_other": "Введено $length символов из 5000 возможных",
        "audio_limit": "Невозможно воспроизвести аудио для более 200 символов",
        "not_available": "Сервис недоступен",
        "settings": "Настройки",
        "instances": "Инстанции",
        "appearance": "Внешний вид",
        "translation": "Перевод",
        "translations": "Translations",
        "instance": "Инстанция",
        "random": "Случайная",
        "custom": "Пользовательская",
        "check": "Проверить",
        "update_list": "Обновить список",
        "update_list_summary": "Обновляет официальный список инстанций",
        "updated_successfully": "Список обновлён",
        "error": "Здесь была ошибка",
        "theme": "Тема",
        "light": "Светлая",
        "dark": "Тёмная",
        "follow_system": "Как в системе",
        "default_share_language": "Стандартный язык функции \"Поделиться\"",
        "default_share_language_summary": "Определяет язык перевода для текста, полученного из другого приложения: $toLanguageShareDefault",
        "about": "О приложении",
        "team": "Команда",
        "team_summary": "Программисты, переводчики и тестировщики",
        "contribute": "Сделать вклад",
        "contribute_summary": "Помогите сделать приложение лучше!",
        "version": "Версия",
        "license": "Лицензия",
        "help": "Помощь",
        "donate": "Пожертвовать деньги",
        "liberapay": "Liberapay",
        "report_bug": "Сообщить о проблеме",
        "website": "Веб-сайт",
        "contact": "Контакты",
        "email": "Электронная почта",
        "translate_summary": "Распространяйте это приложение по миру!",
        "donate_summary": "Мы ценим это!",
        "report_bug_summary": "Пожалуйста, сообщите нам",
        "text_recognition": "Распознавание текста",
        "download_trained_data_files": "Загрузить файлы обученных данных",
        "language_text_recognition": "Распознавание текста - $language",
        "trained_data_files_not_installed": "Файлы обученных данных не установлены.",
        "install": "Install",
        "camera_is_not_accessible": "Камера недоступна",
        "autodetect_not_supported": "Autodetect not supported",
        "please_select_a_specific_language": "Please select a specific language.",
        "input": "Input",
        "output": "Output",
        "@copied_to_clipboard": {},
        "@translate": {},
        "@enter_text_here": {},
        "@something_went_wrong": {},
        "@check_instance": {},
        "@check_instnace_tts": {},
        "@no_internet": {},
        "@ok": {},
        "@cancel": {},
        "@empty_clipboard": {},
        "@input_limit": {},
        "@input_calc": {},
        "@input_fraction_one": {},
        "@input_fraction_few": {},
        "@input_fraction_many": {},
        "@input_fraction_other": {},
        "@audio_limit": {},
        "@not_available": {},
        "@settings": {},
        "@instances": {},
        "@appearance": {},
        "@translation": {},
        "@instance": {},
        "@random": {},
        "@custom": {},
        "@check": {},
        "@update_list": {},
        "@update_list_summary": {},
        "@updated_successfully": {},
        "@error": {},
        "@theme": {},
        "@light": {},
        "@dark": {},
        "@follow_system": {},
        "@default_share_language": {},
        "@default_share_language_summary": {},
        "@about": {},
        "@team": {},
        "@team_summary": {},
        "@contribute": {},
        "@contribute_summary": {},
        "@version": {},
        "@license": {},
        "@help": {},
        "@donate": {},
        "@liberapay": {},
        "@report_bug": {},
        "@website": {},
        "@contact": {},
        "@email": {},
        "@translate_summary": {},
        "@donate_summary": {},
        "@report_bug_summary": {},
        "@text_recognition": {},
        "@download_trained_data_files": {},
        "@language_text_recognition": {},
        "@trained_data_files_not_installed": {},
        "@install": {},
        "@camera_is_not_accessible": {}
    }
