-
    translations = {
        "home": "Ana sayfa",
        "download": "İndir",
        "source": "Kaynak",
        "about-text": "<a>SimplyTranslate</a> için bir mobil istemci.",
        "screenshots": "Ekran görüntüleri",
        "testers": "Test edenler",
        "translators": "Çevirenler",
        "chinese-hong-kong": "Çince, Hong Kong",
        "norwegian-bokmal": "Norveççe Bokmål",
        "portuguese-brazil": "Portekizce (Brezilya)",
        "icon": "Simge",
        "license-text.1": "Telif hakkı (C) 2021 <a>ManeraKai</a>",
        "license-text.2": "Bu program özgür bir yazılımdır: Özgür Yazılım Vakfı tarafından yayınlanan GNU Genel Kamu Lisansı, Lisansın 3. sürümü veya (sizin tercihinize bağlı olarak) herhangi bir sonraki sürümü koşulları altında yeniden dağıtabilir ve/veya değiştirebilirsiniz.",
        "license-text.3": "Bu program faydalı olacağı umuduyla dağıtılmaktadır ama HERHANGİ BİR GARANTİSİ YOKTUR; BELİRLİ BİR AMACA veya TİCARETE UYGUNLUĞUNUN dolaylı bile garantisi yoktur. Daha fazla ayrıntı için GNU Genel Kamu Lisansı'na bakın.",
        "license-text.4": "Bu programla birlikte <a>GNU Genel Kamu Lisansının</a> bir kopyasını almış olmalısınız.",
        "autodetect": "Otomatik belirle",
        "afrikaans": "Afrikanca",
        "albanian": "Arnavutça",
        "amharic": "Amharca",
        "arabic": "Arapça",
        "armenian": "Ermenice",
        "azerbaijani": "Azerice",
        "basque": "Baskça",
        "belarusian": "Belarusça",
        "bengali": "Bengalce",
        "bosnian": "Boşnakça",
        "bulgarian": "Bulgarca",
        "catalan": "Katalanca",
        "cebuano": "Cebuano",
        "chichewa": "Chichewa",
        "chinese": "Çince",
        "corsican": "Korsikaca",
        "croatian": "Hırvatça",
        "czech": "Çekce",
        "danish": "Danca",
        "dutch": "Felemenkçe",
        "english": "İngilizce",
        "esperanto": "Esperanto Dili",
        "estonian": "Estonyaca",
        "filipino": "Filipince",
        "finnish": "Fince",
        "french": "Fransızca",
        "frisian": "Frizye Dili",
        "galician": "Galca",
        "georgian": "Gürcüce",
        "german": "Almanca",
        "greek": "Yunanca",
        "gujarati": "Gujarat Dili",
        "haitian_creole": "Haiti Creole Dili",
        "hausa": "Hausa Dili",
        "hawaiian": "Hawai Dili",
        "hebrew": "İbranice",
        "hindi": "Hintçe",
        "hmong": "Hmong Dili",
        "hungarian": "Macarca",
        "icelandic": "İzlandaca",
        "igbo": "Igbo Dili",
        "indonesian": "Endonezya Dili",
        "irish": "İrlandaca",
        "italian": "İtalyanca",
        "japanese": "Japonca",
        "javanese": "Java Dili",
        "kannada": "Kannada Dili",
        "kazakh": "Kazakça",
        "khmer": "Khmer Dili",
        "kinyarwanda": "Kinyarwanda Dili",
        "korean": "Korece",
        "kurdish_kurmanji": "Kürtçe (Kurmani)",
        "kyrgyz": "Kırgızca",
        "lao": "Lao Dili",
        "latin": "Latince",
        "latvian": "Letonyaca",
        "lithuanian": "Litvanyaca",
        "luxembourgish": "Lüksemburg Dili",
        "macedonian": "Makedonca",
        "malagasy": "Malagasy Dili",
        "malay": "Malayca",
        "malayalam": "Malayalamca",
        "maltese": "Maltaca",
        "maori": "Maori Dili",
        "marathi": "Marathi Dili",
        "mongolian": "Moğolca",
        "myanmar_burmese": "Burmaca",
        "nepali": "Nepalce",
        "norwegian": "Norveççe",
        "odia_oriya": "Odia Dili (Oriya)",
        "pashto": "Peştuca",
        "persian": "Farsça",
        "polish": "Lehçe",
        "portuguese": "Portekizce",
        "punjabi": "Pencapça",
        "romanian": "Rumence",
        "russian": "Rusça",
        "samoan": "Samoa Dili",
        "scots_gaelic": "İskoç Galcesi",
        "serbian": "Sırpça",
        "sesotho": "Sesoto",
        "shona": "Şona",
        "sindhi": "Sindhi Dili",
        "sinhala": "Sinhala Dili",
        "slovak": "Slovakça",
        "slovenian": "Slovence",
        "somali": "Somali Dili",
        "spanish": "İspanyolca",
        "sundanese": "Sudanca",
        "swahili": "Swahili Dili",
        "swedish": "İsveççe",
        "tajik": "Tacikçe",
        "tamil": "Tamilce",
        "tatar": "Tatarca",
        "telugu": "Telugu",
        "thai": "Tayca",
        "turkish": "Türkçe",
        "turkmen": "Türkmence",
        "ukrainian": "Ukraynaca",
        "urdu": "Urduca",
        "uyghur": "Uygurca",
        "uzbek": "Özbekçe",
        "vietnamese": "Vietnamca",
        "welsh": "Galce",
        "xhosa": "Xhosa Dili",
        "yiddish": "Yidiş",
        "yoruba": "Yoruba Dili",
        "zulu": "Zulu Dili",
        "@@locale": "en",
        "copied_to_clipboard": "Panoya kopyalandı",
        "translate": "Çevir",
        "enter_text_here": "Metni buraya girin",
        "something_went_wrong": "Bir şeyler yanlış gitti",
        "check_instance": "Örneği denetle.",
        "check_instnace_tts": "Örneği ve TTS (Text-to-Speech (Metin Okuma)) desteğini denetle.",
        "no_internet": "İnternet bağlantısı yok",
        "ok": "Tamam",
        "cancel": "İptal",
        "empty_clipboard": "Kopyalama panosu boş",
        "input_limit": "Çeviri girdisi 5000 karakterden fazla",
        "input_calc": "5000 karakter olan sınırı $lengthDifference karakter aştınız",
        "input_fraction_one": "5000 karakter olan sınırın $length karakterini kullandınız",
        "input_fraction_few": "5000 karakter olan sınırın $length karakterini kullandınız",
        "input_fraction_many": "5000 karakter olan sınırın $length karakterini kullandınız",
        "input_fraction_other": "5000 karakter olan sınırın $length karakterini kullandınız",
        "audio_limit": "200 karakterden fazlası için ses dosyası alınamıyor",
        "not_available": "Hizmet kullanılabilir değil",
        "settings": "Ayarlar",
        "instances": "Örnekler",
        "appearance": "Görünüm",
        "translation": "Çeviri",
        "translations": "Translations",
        "instance": "Örnek",
        "random": "Rastgele",
        "custom": "Özelleştirme",
        "check": "Denetle",
        "update_list": "Listeyi güncelle",
        "update_list_summary": "Resmi örnekler listesini günceller",
        "updated_successfully": "Başarılı bir şekilde güncellendi",
        "error": "Bir hata oluştu",
        "theme": "Tema",
        "light": "Açık",
        "dark": "Koyu",
        "follow_system": "Sistem teması",
        "default_share_language": "Öntanımlı paylaşım dili",
        "default_share_language_summary": "Başka bir uygulamadan paylaşılan metin için çeviri dilini belirler: $toLanguageShareDefault",
        "about": "Hakkında",
        "team": "Ekip",
        "team_summary": "Kodlayanlar, çevirenler ve test edenler",
        "contribute": "Katkıda bulun",
        "contribute_summary": "Daha iyi olmasına yardım et!",
        "version": "Sürüm",
        "license": "Lisans",
        "help": "Yardım",
        "donate": "Bağış yap",
        "liberapay": "Liberapay",
        "report_bug": "Hata bildir",
        "website": "İnternet sitesi",
        "contact": "İletişim",
        "email": "E-posta",
        "translate_summary": "Dünyayla paylaş!",
        "donate_summary": "Teşekkür ederiz!",
        "report_bug_summary": "Lütfen bize bildirin",
        "text_recognition": "Metin Tanıma",
        "download_trained_data_files": "Eğitilen veri dosyalarını indir",
        "language_text_recognition": "Metin Tanıma - $language",
        "trained_data_files_not_installed": "Eğitilen veri dosyaları kurulu değil.",
        "install": "Kur",
        "camera_is_not_accessible": "Kameraya erişilemiyor",
        "autodetect_not_supported": "Autodetect not supported",
        "please_select_a_specific_language": "Please select a specific language.",
        "input": "Input",
        "output": "Output",
        "@copied_to_clipboard": {},
        "@translate": {},
        "@enter_text_here": {},
        "@something_went_wrong": {},
        "@check_instance": {},
        "@check_instnace_tts": {},
        "@no_internet": {},
        "@ok": {},
        "@cancel": {},
        "@empty_clipboard": {},
        "@input_limit": {},
        "@input_calc": {},
        "@input_fraction_one": {},
        "@input_fraction_few": {},
        "@input_fraction_many": {},
        "@input_fraction_other": {},
        "@audio_limit": {},
        "@not_available": {},
        "@settings": {},
        "@instances": {},
        "@appearance": {},
        "@translation": {},
        "@instance": {},
        "@random": {},
        "@custom": {},
        "@check": {},
        "@update_list": {},
        "@update_list_summary": {},
        "@updated_successfully": {},
        "@error": {},
        "@theme": {},
        "@light": {},
        "@dark": {},
        "@follow_system": {},
        "@default_share_language": {},
        "@default_share_language_summary": {},
        "@about": {},
        "@team": {},
        "@team_summary": {},
        "@contribute": {},
        "@contribute_summary": {},
        "@version": {},
        "@license": {},
        "@help": {},
        "@donate": {},
        "@liberapay": {},
        "@report_bug": {},
        "@website": {},
        "@contact": {},
        "@email": {},
        "@translate_summary": {},
        "@donate_summary": {},
        "@report_bug_summary": {},
        "@text_recognition": {},
        "@download_trained_data_files": {},
        "@language_text_recognition": {},
        "@trained_data_files_not_installed": {},
        "@install": {},
        "@camera_is_not_accessible": {}
    }
