-
    translations = {
        "home": "Головна",
        "download": "Завантажити",
        "source": "Вихідний код",
        "about-text": "Мобільний клієнт для <a>SimplyTranslate</a>.",
        "screenshots": "Знімки екрана",
        "testers": "Тестувальники",
        "translators": "Перекладачі",
        "chinese-hong-kong": "Китайська, Гонґ-Конґ",
        "norwegian-bokmal": "Норвезька (букмол)",
        "portuguese-brazil": "Португальська (Бразилія)",
        "icon": "Значок",
        "license-text.1": "Авторські права (C) 2021 <a>ManeraKai</a>",
        "license-text.2": "Ця програма є вільним ПЗ: Ви можете розповсюджувати її і/або змінювати на умовах Загальної громадської ліцензії GNU, яка була опублікована Фондом вільного ПЗ, версії 3 або (на свій вибір) будь-якої пізнішої версії.",
        "license-text.3": "Ця програма розповсюджується з надією, що вона буде корисною БЕЗ БУДЬ-ЯКИХ ГАРАНТІЙ; навіть без наявної гарантії для КОМЕРЦІЙНОЇ або ПЕВНОЇ ІНШОЇ ПРИДАТНОСТІ. Детальніше читайте Загальну громадську ліцензію GNU.",
        "license-text.4": "Ви повинні були отримати копію <a>Загальної громадської ліцензії GNU</a> разом із програмою.",
        "autodetect": "Автовизначення",
        "afrikaans": "африкаанс",
        "albanian": "албанська",
        "amharic": "амгарська",
        "arabic": "арабська",
        "armenian": "вірменська",
        "azerbaijani": "азербайджанська",
        "basque": "баська",
        "belarusian": "білоруська",
        "bengali": "бенґальська",
        "bosnian": "боснійська",
        "bulgarian": "болгарська",
        "catalan": "каталонська",
        "cebuano": "себуанська",
        "chichewa": "Chichewa",
        "chinese": "китайська",
        "corsican": "корсиканська",
        "croatian": "Croatian",
        "czech": "чеська",
        "danish": "данська",
        "dutch": "Dutch",
        "english": "англійська",
        "esperanto": "есперанто",
        "estonian": "естонська",
        "filipino": "Filipino",
        "finnish": "фінська",
        "french": "французька",
        "frisian": "фризька",
        "galician": "галісійська",
        "georgian": "Georgian",
        "german": "німецька",
        "greek": "грецька",
        "gujarati": "Gujarati",
        "haitian_creole": "Haitian Creole",
        "hausa": "Hausa",
        "hawaiian": "гавайська",
        "hebrew": "Hebrew",
        "hindi": "гінді",
        "hmong": "Hmong",
        "hungarian": "угорська",
        "icelandic": "Icelandic",
        "igbo": "Igbo",
        "indonesian": "індонезійська",
        "irish": "Irish",
        "italian": "італійська",
        "japanese": "японська",
        "javanese": "Javanese",
        "kannada": "Kannada",
        "kazakh": "казахська",
        "khmer": "Khmer",
        "kinyarwanda": "Kinyarwanda",
        "korean": "кореанська",
        "kurdish_kurmanji": "Kurdish (Kurmanji)",
        "kyrgyz": "Kyrgyz",
        "lao": "Lao",
        "latin": "латинська",
        "latvian": "латвійська",
        "lithuanian": "литовська",
        "luxembourgish": "люксембурзька",
        "macedonian": "македонська",
        "malagasy": "Malagasy",
        "malay": "Malay",
        "malayalam": "Malayalam",
        "maltese": "Maltese",
        "maori": "Maori",
        "marathi": "Marathi",
        "mongolian": "монгольська",
        "myanmar_burmese": "Myanmar (Burmese)",
        "nepali": "непальська",
        "norwegian": "норвезька",
        "odia_oriya": "Odia (Oriya)",
        "pashto": "Pashto",
        "persian": "перська",
        "polish": "польська",
        "portuguese": "португальська",
        "punjabi": "Punjabi",
        "romanian": "ромунська",
        "russian": "російська",
        "samoan": "Samoan",
        "scots_gaelic": "Scots Gaelic",
        "serbian": "сербська",
        "sesotho": "Sesotho",
        "shona": "Shona",
        "sindhi": "Sindhi",
        "sinhala": "Sinhala",
        "slovak": "словацька",
        "slovenian": "словенська",
        "somali": "сомалійська",
        "spanish": "іспанська",
        "sundanese": "Sundanese",
        "swahili": "Swahili",
        "swedish": "шведська",
        "tajik": "таджицька",
        "tamil": "тамільська",
        "tatar": "татарська",
        "telugu": "Telugu",
        "thai": "Thai",
        "turkish": "турецька",
        "turkmen": "Turkmen",
        "ukrainian": "українська",
        "urdu": "Urdu",
        "uyghur": "Uyghur",
        "uzbek": "узбецька",
        "vietnamese": "Vietnamese",
        "welsh": "Welsh",
        "xhosa": "Xhosa",
        "yiddish": "Yiddish",
        "yoruba": "Yoruba",
        "zulu": "Zulu",
        "@@locale": "en",
        "copied_to_clipboard": "Скопійовано до буфера обміну",
        "translate": "Перекласти",
        "enter_text_here": "Вводьте текст тут",
        "something_went_wrong": "Щось пішло не так",
        "check_instance": "Перевірити екземпляр.",
        "check_instnace_tts": "Перевірити екземпляр і підтримку TTS (текст-у-голос).",
        "no_internet": "Нема з’єднання з Інтернетом",
        "ok": "Добре",
        "cancel": "Скасувати",
        "empty_clipboard": "Буфер обміну порожній",
        "input_limit": "Введений переклад перевищує 5000",
        "input_calc": "Перевищено обмеження на 5000 знаків через $lengthDifference",
        "input_fraction_one": "Введено $length знак із 5000 можливих",
        "input_fraction_few": "Введено $length символів із 5000 можливих",
        "input_fraction_many": "Введено $length символів із 5000 можливих",
        "input_fraction_other": "Введено $length символів із 5000 можливих",
        "audio_limit": "Не можливо отримати звук на більше ніж 200 символів",
        "not_available": "Сервіс не доступний",
        "settings": "Налаштування",
        "instances": "Екземпляри",
        "appearance": "Вигляд",
        "translation": "Переклад",
        "instance": "Екземпляр",
        "random": "Випадковий",
        "custom": "Власний",
        "check": "Перевірити",
        "update_list": "Оновити список",
        "update_list_summary": "Оновити офіційний список екземплярів",
        "updated_successfully": "Оновлено успішно",
        "error": "Там була помилка",
        "theme": "Тема",
        "light": "Світла",
        "dark": "Темна",
        "follow_system": "Системна",
        "default_share_language": "Типова мова для поширення",
        "default_share_language_summary": "Визначає мову перекладу для поширюваного тексту з іншої програми: $toLanguageShareDefault",
        "about": "Про застосунок",
        "team": "Команда",
        "team_summary": "Програмісти, перекладачі і тестувальники",
        "contribute": "Співрозробка",
        "contribute_summary": "Допоможіть зробити краще!",
        "version": "Версія",
        "license": "Ліцензія",
        "help": "Довідка",
        "donate": "Пожертвувати",
        "liberapay": "Liberapay",
        "report_bug": "Звіт про ваду",
        "website": "Вебсайт",
        "contact": "Звʼязок",
        "email": "Ел. пошта",
        "translate_summary": "Розширте на весь світ!",
        "donate_summary": "Ми цінуємо це!",
        "report_bug_summary": "Будь ласка, дайте нам знати",
        "text_recognition": "Розпізнавання тексту",
        "download_trained_data_files": "Завантажити файли з натренованими даними",
        "language_text_recognition": "Розпізнавання тексту - $language",
        "trained_data_files_not_installed": "Файли з натренованими даними не встановлено.",
        "install": "Встановити",
        "camera_is_not_accessible": "Камера не доступна",
        "@translate": {},
        "@enter_text_here": {},
        "@something_went_wrong": {},
        "@check_instance": {},
        "@ok": {},
        "@cancel": {},
        "@empty_clipboard": {},
        "@not_available": {},
        "@instances": {},
        "@translation": {},
        "@instance": {},
        "@update_list": {},
        "@update_list_summary": {},
        "@updated_successfully": {},
        "@error": {},
        "@theme": {},
        "@follow_system": {},
        "@about": {},
        "@team": {},
        "@contribute_summary": {},
        "@license": {},
        "@help": {},
        "@report_bug": {},
        "@website": {},
        "@email": {},
        "@check_instnace_tts": {},
        "@input_calc": {},
        "@input_fraction_one": {},
        "@check": {},
        "@team_summary": {},
        "@liberapay": {},
        "@translate_summary": {},
        "@custom": {},
        "@default_share_language": {},
        "@default_share_language_summary": {},
        "@contact": {},
        "@random": {},
        "@input_fraction_other": {},
        "@donate": {},
        "@copied_to_clipboard": {},
        "@report_bug_summary": {},
        "@text_recognition": {},
        "@language_text_recognition": {},
        "@install": {},
        "@camera_is_not_accessible": {},
        "@download_trained_data_files": {},
        "@trained_data_files_not_installed": {},
        "@light": {},
        "@dark": {},
        "@no_internet": {},
        "@settings": {},
        "@appearance": {},
        "@version": {},
        "@audio_limit": {},
        "@donate_summary": {},
        "@input_limit": {},
        "@contribute": {},
        "@input_fraction_few": {},
        "@input_fraction_many": {}
    }
