include ./widgets/widgets.pug
doctype html
html(lang="ar" dir=dir)
    head
        +head
        title SimplyTranslate Mobile
    body
        +navbar('donate')

        div.section
            br
            .section_title
                br
                br
                br
                h1!=donate
                    |
                    |
                    !=donate_thanks
            p Buymeacoffee: <a class="break" href="https://www.buymeacoffee.com/manerakai">https://www.buymeacoffee.com/manerakai</a>
            p LiberaPay: <a class="break" href="https://liberapay.com/simplytranslate_mobile">https://liberapay.com/simplytranslate_mobile</a>
            p btc: <a class="break" href="bitcoin:bc1qrhue0frps6p2vkg978u9ayethnwprtmfug827q">bc1qrhue0frps6p2vkg978u9ayethnwprtmfug827q</a>

        br
        br
        br
        br

        +footer