include ./widgets.pug
head
    +head
    title SimplyTranslate Mobile
body
    +navbar('donate', t)

    br
    br
    br
    br

    div.section
        h1!=donate
            |
            |
            !=donate_thanks
        p Buymeacoffee: <a href="https://www.buymeacoffee.com/manerakai">https://www.buymeacoffee.com/manerakai</a>
        p LiberaPay: <a href="https://liberapay.com/simplytranslate_mobile">https://liberapay.com/simplytranslate_mobile</a>
        p btc: <a href="bitcoin:bc1qrhue0frps6p2vkg978u9ayethnwprtmfug827q">bc1qrhue0frps6p2vkg978u9ayethnwprtmfug827q</a>

    br
    br
    br
    br

    +footer