include ./widgets.pug
head
    +head
    title SimplyTranslate Mobile
body
    +navbar('download', t)

    br
    br
    br
    br

    div.section
        h1!=download
        p!=fdroid
            |: <a href="https://f-droid.org/en/packages/com.simplytranslate_mobile/">https://f-droid.org/en/packages/com.simplytranslate_mobile</a>
        p!=github_artifacts
            |: <a href="https://github.com/ManeraKai/simplytranslate_mobile/actions/workflows/main.yml">https://github.com/ManeraKai/simplytranslate_mobile/actions/workflows/main.yml</a>

    br
    br
    br
    br

    +footer