include ./widgets/widgets.pug
doctype html
html(lang="ar" dir=dir)
    head
        +head
        title SimplyTranslate Mobile
    body
        +navbar('home')

        header
            img.main_logo(src="/simplytranslate_mobile/assets/logo.svg")
            h1 SimplyTranslate Mobile

        div.section
            .badge
                p.main-font A privacy friendly frontend to Google Translate
                a(href="https://f-droid.org/en/packages/com.simplytranslate_mobile/")
                    img(src="/simplytranslate_mobile/assets/f-droid.png" alt="Get it on F-Droid" height="80")

            br

            div.screenshots
                img.center(src="/simplytranslate_mobile/assets/1.webp")
                img.center(src="/simplytranslate_mobile/assets/2.webp")
                img.center(src="/simplytranslate_mobile/assets/3.webp")
                img.center(src="/simplytranslate_mobile/assets/4.webp")

            +footer

            br