body {
    background: #141414;
    color: #f0f0f0;
}

div.toolbar {
    position: sticky;
    display: flex;
    flex-wrap: wrap;
    top: 0;
    padding: 0px 20vw;
    width: 100%;
    background-color: #141414;
}

.toolbar a {
    margin: 0 5px;
    padding: 15px;
    color: white;
}

.toolbar a:hover {
    transition: 500ms;
    background-color: #0f0f0f;
}

header {
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
}

header h1 {
    margin-top: 20px;
    font-size: 54px;
}

header a {
    background-color: white;
    padding: 10px 60px;
    color: black;
    font-weight: 600;
    border-radius: 50px;
    text-decoration: none;
}

div.section {
    width: 60vw;
    margin: 0 auto;
}

html {
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif
}

img {
    width: 250px;
}

div.screenshots {
    justify-content: space-evenly;
    width: 60vw;
    margin: 0 auto;
    flex-wrap: wrap;
    display: flex;
}

.primary {
    background-color: #3ee08a !important
}

a {
    color: #3ee08a;
}

.main_logo {
    height: 150px;
}

p {
    font-size: 18px;
}

.main-font {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}

.primary-color {
    color: #3ee08a;
}

.block {
    margin: 20px 0;
    padding-left: 1.5rem;
    border-left: 5px solid #3ee08a;
}

.block-rtl {
    margin: 20px 0;
    padding-right: 1.5rem;
    border-right: 5px solid #3ee08a;
    padding-left: 0;
    border-left: none;
}

.html, .body {
    height: 100%;
}

@media only screen and (max-width: 600px) {
    header h1 {
        font-size: 40px;
    }
    
    div.section {
        width: 90vw;
    }
    div.screenshots {
        width: 90vw;
    }
    .title {
        font-size: 35px !important;
    }
    div.toolbar {
        justify-content: center;
        position: static !important;
        padding: 0 !important;
        background-color: #141414;
    }
    div.toolbar a {
        margin: 0;
        padding: 15px 10px;
    }
}

/* fallback */

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v109/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

/* cyrillic-ext */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_dJE3gTD_u50.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_dJE3g3D_u50.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* vietnamese */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_dJE3gbD_u50.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_dJE3gfD_u50.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_dJE3gnD_g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}