-
    translations = {
        'home': "Strona główna",
        "download": "Pobierz",
        "source": "Żródło",
        "donate": "Darowizna",
        "about": "O aplikacji",
        "about-text": "Nieoficjalny klient mobilny dla <a>Simply Translate</a>.",
        "screenshots": "Zrzuty ekranu",
        "translation": "Tłumaczenie",
        "translation-text.1": "Skopiuj<a>plik z tłumaczeniem na język angielski</a>.",
        "translation-text.2": "Przetłumacz go na swój język.",
        "translation-text.3": "Dodaj swój nowy przetłumaczony plik do <a1>tego katalogu</a1> o nazwie: main_<a2>$langCode</a2>.arb",
        "translation-text.4": "Albo napisz do mnie: <mailto>manerakai@protonmail.com</mailto> lub pull request.",
        "we-appreciate-it": "Doceniamy to!",
        "want-to-donate": "Chcesz przekazać darowiznę?",
        "we-really-appreciate-it": "Naprawdę to doceniamy!",
        "translators": "Tłumaczenia",
        "polish": "Polski",
        "arabic": "Arabski",
        "malayalam": "Malayalam",
        "chinese-hong-kong": "Chiński, Hongkong",
        "german": "Niemiecki",
        "icon": "Ikona",
        "icon-text": "To jest dla oryginalnego projektu Simply Translate. Projektantem jest <a>joelchrono12</a>.",
        "license": "Licencja",
    }