-
    translations = {
        'home': "Home",
        "download": "Download",
        "source": "Source",
        "donate": "Donate",
        "about": "About",
        "about-text": "An unofficial mobile client for <a>Simply Translate</a>.",
        "screenshots": "Screenshots",
        "translation": "Translation",
        "translation-text.1": "Copy the <a>English translation file</a>.",
        "translation-text.2": "Translate it to your language.",
        "translation-text.3": "Add your new translated file to <a1>this directory</a1> with name: main_<a2>$langCode</a2>.arb",
        "translation-text.4": "Either email me: <mailto>manerakai@protonmail.com</mailto>, or a pull request.",
        "we-appreciate-it": "We appreciate it!",
        "want-to-donate": "Want to Donate?",
        "we-really-appreciate-it": "We really appreciate it!",
        "translators": "Translators",
        "polish": "Polish",
        "arabic": "Arabic",
        "malayalam": "Malayalam",
        "chinese-hong-kong": "Chinese, Hong Kong",
        "german": "German",
        "icon": "Icon",
        "icon-text": "It's for the original Simply Translate project. The designer is <a>joelchrono12</a>.",
        "license": "License",
    }