body {
    background: #141414;
    color: #f0f0f0;
}

.primary {
    background-color: #3ee08a !important
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 150px;
    width: 150px;
    margin-bottom: -20px
}

a{
    color: #3ee08a;
    text-decoration: underline;

}

.main_logo {
    height: 350px;
    width: 350px;
    margin-top: -55px;
    margin-bottom: -120px;
}

.sub-head {
    font-size: 20px
}

.general-text {
    font-size: 18px
}

.textt {
    font-size: 54px;
}

.header {
    font-size: 30px
}

.ss-title {
    text-align: center;
    padding-top: 30px;
    font-size: 35px;
}

.main-font {
    font-family: 'Montserrat', sans-serif;
}

.primary-color {
    /* color: #1f83e7 !important */
    color: #3ee08a;
}

.text3 {
    font-size: 21px
}

.block {
    margin: 20px 0;
    padding-left: 1.5rem;
    /* border-left: 5px solid #1f83e7; */
    border-left: 5px solid #3ee08a;
}

.btn {
    width: 175px
}

.teamm {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.card-title {
    text-align: center;
}

.position {
    text-align: center;
}

.card {
    border-radius: 8px;
}

.footer-center {
    margin: auto;
    display: block;
    text-align: center;
}

.footer-button {
    margin-left: 8px;
}

.hd-btn3 {
    text-align: center;
    height: 40px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    background-color: #222;
    border-radius: 4px;
    border: 2px solid #fff;
}

.hd-btn2 {
    text-align: center;
    height: 40px;
    color: black;
    font-size: 14px;
    font-weight: 700;
    background-color: #fff;
    border-radius: 18px;
    border: 2px solid #fff;
}

.html,
.body {
    height: 100%;
}

.ss-img {
    height: 368px;
    width: 207px;
}

.buttons-center {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 15px;
}

.nav-background {
    background-color: #141414;
}

.card-theme-color {
    background-color: #1e1e1e;
}

.collapsible-header {
    border-bottom: 0px solid #ddd;
    background-color: #1e1e1e;
}

.collapsible-body {
    border-bottom: 0px solid #ddd;
    background-color: #1e1e1e;
}

.text-align-left {
    text-align: left;
}

.select-dropdown li.disabled,
.select-dropdown li.disabled>span,
.select-dropdown li.optgroup {
    color: #fafafa59;
    background-color: transparent;
}

.datapacket-text {
    vertical-align: middle;
    font-size: 16px;
    padding-right: 5px;
}

.datapacket-logo {
    height: 25px;
    vertical-align: middle;
}